[2015-10-13 14:02] sany620 opened #1 "react-native+ZipArchive demo"
Hope to upload a complete react-native to learn +ZipArchive demo

[2015-10-14 16:57] plrthink commented on #1
@sany620 Yep, I would do that when I have time. Also need to add more features.

[2015-10-15 07:21] plrthink commented on #1
@sany620 I find I have already put an example in README.md

[code]

Currently, it just offers unzip functionality.

[2015-10-15 07:30] plrthink commented on #1
@sany620 updated example in readme.

[2015-11-11 03:07] rneiss commented on #1
+1 for this. I'm having trouble getting the code in the readme to work.
Is there any chance you can upload a super basic project that demos this functionality?

[2015-11-11 04:40] plrthink commented on #1
@rneiss there's mistake in the example :sweat_smile:, and I have just fixed that.

[2015-11-11 05:58] rneiss commented on #1
Thanks. I'm still having trouble though. It's throwing a syntax error `unexpected token` at the start of the line where the catch routine is.

Maybe I'm referencing the file incorrectly though. Is there a trick to adding and referencing the zip file that I'm missing?

[2015-11-11 06:01] plrthink commented on #1
@rneiss Could you show paste the error message here?

[2015-11-11 09:36] plrthink commented on #1
@rneiss I'm using this package to unzip my zip file downloaded by [react-native-file-download](https://github.com/plrthink/react-native-file-download), in which case I'm sure the file is in the path.

I also use [react-native-fs](https://github.com/johanneslumpe/react-native-fs) to get access to file system as mentioned in README. So I am using `console.log(require('react-native-fs').DocumentDirec

[2015-11-11 13:49] rneiss commented on #1
@plrthink  -- the error message isn't actually all that helpful. The code never seems to actually make it to the console.log and chokes right at the catch statement:

`2015-11-11 07:47:32.514 [error][tid:main][RCTBatchedBridge.m:436] Error while loading: SyntaxError [React Native App Dir]/index.ios.js: Unexpected token (52:1)`

I'm going to play with file system to see if that helps. Will report b

[2015-11-11 15:37] rneiss commented on #1
ok -- so using react-native-fs I've managed to get it working, but only if I remove the catch statement from the js. Otherwise it still throws the same error as before.

So success![?]

Thanks for your help.

[2015-11-12 05:01] plrthink commented on #1
@rneiss which version of react-native and iOS you are developing?

[2015-11-12 06:44] plrthink commented on #1
@rneiss After double check api example in README, I found that there's still a typo. I missed a dot before `catch` statement. It should like:

[code]

This means it catch error threw by this package. Of course you can do anything in catch.

I should fix it in README.

[2015-11-25 01:10] cancan101 opened #2 "Is bluebird Really Needed Here"
Does RN not ship with a better polyfill?

[2015-11-25 01:14] cancan101 opened #3 "Error Not Being Raised for Non Existent Zip"
Tis is calling the `then` rather than `catch` where the specified file does not exist:
[code]

[2015-11-25 01:15] cancan101 commented on #3
The same seems to happen with the file exists but is not a valid zip.

[2015-12-02 09:45] plrthink commented on #3
@cancan101 I will fix this ASAP.

[2015-12-02 09:48] plrthink commented on #2
@cancan101 I don't know actually. I simply use bluebird for convert callback to promise. Do you any better suggestion about this? Any ideas are appreciate.

[2015-12-02 09:49] plrthink commented on #1
Since it's no longer active I am going to close this.

[2015-12-02 09:49] #1 closed

[2015-12-02 15:18] taion commented on #2
It seems excessive to re-polyfill promises entirely. What about using e.g. https://www.npmjs.com/package/es6-promisify?

[2015-12-02 16:25] plrthink commented on #2
@cancan101 Ok, I would check this out. Thanks~

[2016-02-13 16:47] plrthink commented on #2
Since this package is using es6-promisify now, I will close this issue.

[2016-02-13 16:47] #2 closed

[2016-02-29 07:09] WestleyArgentum opened #5 "how to add the libz library to target"
Step 4 in the readme says we should `add the libz library to your target`, unfortunately I'm not quite sure what that means :)

Sorry to bug you, but I'd really appreciate help!

[2016-02-29 09:53] WestleyArgentum commented on #3
Also seeing this problem...

But even when the file exists and is a valid zip, this doesn't seem to work... any tips on debugging?

[2016-02-29 09:54] WestleyArgentum commented on #5
Forgot to close -- for future reference it just means you have to add another library, and when you search for libz it will show up

[2016-02-29 09:54] #5 closed

[2016-02-29 10:00] plrthink commented on #3
@WestleyArgentum I'm using `react-native-fs` to get access to the zip file on the simulator to check the it. I think any method which can get path to the zip file is ok.

I would improve this.

[2016-02-29 10:05] WestleyArgentum commented on #3
I'm using `react-native-fs` to download the zip, and I use `RNFS.readDir` to check and make sure the zip file is downloaded correctly... but then when I try to unzip it nothing happens and I don't see any errors...

[2016-02-29 10:10] plrthink commented on #3
@WestleyArgentum Your mean the promise is hanging?

[2016-02-29 10:37] plrthink commented on #3
@WestleyArgentum I think maybe you're dong something wrong wth promise code, e.g. not return the promise from the inner promise chain.

[2016-02-29 17:08] WestleyArgentum commented on #3
Sorry I disappeared there, but in this case I don't think the error is promise related -- my code is just like the example:

[code]

Does that look ok?

[2016-02-29 18:06] WestleyArgentum commented on #3
Ah, I realized I can use xcode to step through the code and my problem was with directories. Would be really cool to have those errors raised through `.catch` though

Thanks for your help!

[2016-03-01 04:26] plrthink commented on #3
@WestleyArgentum oh, can you explain a little bit about your resolution? So I can collect errors should be raised.

[2016-03-02 18:39] WestleyArgentum commented on #3
So, I've never spent much time in objective c, but I think the problem is here: https://github.com/plrthink/react-native-zip-archive/blob/master/RNZipArchive.m#L19

It looks like these methods take in a pointer to a pointer to an error: https://github.com/plrthink/react-native-zip-archive/blob/fb47345d3094e7e85bf49af747758acea7fe43d3/SSZipArchive/SSZipArchive.m#L47

And that you should pass that i

[2016-04-20 02:09] Secretmapper opened #6 "Make it work with rnpm"
rnpm is pretty much becoming the de facto react-native 'native' module linker, and it works with almost all modules I tried - react-native-zip-archive was the first one where it didn't.

It seems that linking `libz` manually fixed it. I'm not too familiar with native iOS development but maybe something to look at?

[2016-04-20 05:29] plrthink commented on #6
Yeah, agree with you, but I'm also not familiar with native iOS development 😹 . I would try this later or you can fell free to open a PR.

[2016-04-20 14:22] plrthink commented on #6
After searching around, I find this thread (https://github.com/rnpm/rnpm/issues/122) on rnpm's issue list.

So I think for now we should just waiting for the feature to be added in next version of rnpm and I would update the readme to warning rnpm users about linking libz after run `rnpm link`

[2016-04-20 15:14] #6 closed

[2016-06-01 15:43] plrthink commented on #3
fixed with b622cb07150ee75b61d71868a33751751da79f13

[2016-06-01 15:43] #3 closed

[2016-06-01 17:29] WestleyArgentum commented on #3
nice, thanks!

[2016-07-12 10:03] fugitivers opened #10 "sub folder error"
i have a zip file,
1.Zip
       ---1.txt
       ---subFolder
            ---1.txt
couldn`t extract
is good if without subFolder

[2016-07-18 07:03] plrthink commented on #10
Which platform you're using on? Android or iOS? I use this for both of this platform and it works well. Which path you are extracting to?

[2016-07-26 12:18] fugitivers commented on #10
windows create zip file has error, linux is good

[2016-07-27 04:14] plrthink commented on #10
@fugitivers You mean your development environment? Not tested on windows machine actually.

[2016-08-24 03:20] plrthink commented on #10
I'm closing this issue since not active.

[2016-08-24 03:20] #10 closed

[2016-09-13 00:38] MadisonBlake opened #14 "File fails to unzip with FileNotFoundException on Android"
I am attempting to unzip an archive in Android with the following directory structure

A
-B
--File1.txt

When unzipping I get a FileNotFoundException: "open failed: ENOENT (No such file or directory)" when RNZipArchiveModule::extractFile is called for the first time.

I have found that when it is stepping through the entries in RNZipArchiveModule::unzipStream the following entries come in:
"A/B/"

[2016-09-14 03:09] plrthink commented on #14
Not very sure about what wrong with the first case, since I'm not familiar with native android development, so you can feel free to open a PR to correct this bug.

[2016-09-14 13:47] jreziga commented on #14
Try to mkdir your subfolders of your zip... I know it's weird but it worked for me

[2016-09-14 13:48] jreziga opened #15 "Unzip on IOS"
Hello,

I succeed to use this module on Android, but when I switch to IOS it doesn't work anymore without error message but a tiny "unzip error". Is there a working example for IOS ? (I'm just using ZipArchive.unzip method).

Thanks !

[2016-09-14 14:14] jreziga commented on #15
My bad my zip wasn't well formed. My PHP server was serving file with that header :

`$response->headers->set('Content-Type', 'application/octet-stream');`

I changed it for :

`$response->headers->set('Content-Type', 'application/zip');`

The full error while unzipping was :
`unzip error “End-of-central-directory signature not found”`

Hope it can help you !

[2016-09-14 14:14] #15 closed

[2016-09-27 04:37] truonghoangphuc commented on #5
Hi Westley,

Sorry but I can't found libz ?

Thanks

[2016-09-27 07:45] plrthink commented on #5
@truonghoangphuc You follow this gif

![out](https://cloud.githubusercontent.com/assets/2429369/18864517/579aab4a-84c9-11e6-8e54-e46bfa5c95df.gif)

[2016-09-27 09:36] keung725 opened #16 "Unzip on Android"
Unzip on Android

it can not unzip on android.
open failed: enoent (no such file or directory)

[2016-09-27 10:46] keung725 commented on #16
Actually, just found out this is a duplicate of #14

[2016-09-27 10:46] #16 closed

[2016-11-16 07:00] plrthink opened #17 "duplicate symbol _OBJC_IVAR_$_SSZipArchive._zip"
If you're using other react native package which also includes in SSZipArchive like [react-native-code-push](https://github.com/Microsoft/react-native-code-push), you may face this issue when trying to build your app.

The problem is straightforward. Since we're both want to link some file in SSZipArchive so the linker would fail.

I'm trying to solve this issue. Any guide would be thankful.

[2016-11-16 09:37] itinance commented on #17
From the [codepush-docs](https://microsoft.github.io/code-push/docs/react-native.html#link-3):

Have you tried this out?

[2016-11-16 09:58] plrthink commented on #17
@itinance Thanks for your advice, haven't tried it yet but it seems like a solution. But still think there would be a better one.

For temporarily fixing this problem you can try install this module via github with custom-ssziparchive branch by place this in your package.json
[code]

[2016-11-16 10:01] itinance commented on #17
Good catch!

[2016-11-16 11:33] itinance commented on #17
I'd like to help if you would provide more info how to reproduce this linker error. Would it be enough just to install code-push and this library together?

[2016-11-16 11:35] plrthink commented on #17
Yeah, and link both packages.

[2016-11-16 14:15] chirag04 commented on #17
@itinance @plrthink if you install code push from cocopod you need react-native to be installed from cocopod as well. this does not play well with other rn modules.

I have a fork that removes the ssarchive directory and defines a header search path that links ssarchive from code-push directory. I know this does not work for everyone. wish there was a middle ground.

[2016-11-19 12:54] hujiudeyang commented on #14
it worked for me
@MadisonBlake
Android => RNZipArchiveModule.java:73
`import java.io.BufferedInputStream;`
`..`
`private void unzipStream(String zipFilePath, String destDirectory, InputStream inputStream, long totalSize, Callback completionCallback) {
    try {
      File destDir = new File(destDirectory);
      if (!destDir.exists()) {
        destDir.mkdirs();
      }
      ZipInputStream zipIn

[2016-11-19 13:29] plrthink commented on #14
@hujiudeyang There's some formatting issue, can you update the comment to fix it? Also, you can directly make a PR to improve that, which will be very grateful.

[2016-11-28 15:31] #14 closed

[2017-01-09 11:39] rubengarciam opened #21 "Suport for RAR formats"
Have you considered extending react-native-zip-archive to rar files? I've been trying to use [Unrar4iOS](https://github.com/ararog/Unrar4iOS) and [UnrarKit](https://github.com/abbeycode/UnrarKit) via native function exports but couldn't make it work.

Btw, great work on the library so far :)

[2017-01-09 13:53] plrthink commented on #21
Not using RAR files in my use cases actually, so I'm not sure how to deal with that.

And also I'm not sure whether it would be ok to supporting that in a single package, but I'm open with that.

We can seek help from the community.

[2017-01-12 14:10] KBepo opened #22 "After requiring getting error "Cannot read property 'unzip' of undefined""
Using react-native 0.35
Testing on Note 4 - Android 5.1.1

Was following instructions and changed;
- settings.gradle
- build.gradle
- MainApplication.java

Getting no errors in packager, just in console after I require it (didn't even use it anywhere else in code). Can't even start app because I immediately get an error "Cannot read property 'unzip' of undefined". Any help would be highly apprecia

[2017-01-13 11:06] #22 closed

[2017-01-13 11:09] KBepo commented on #10
Yeah i'm facing same problem as above. I have to manually generate those subfolders to be same as inside zip to make it work. Error gives that those subfolders do not exist and that's why it can't extract it.

[2017-01-17 06:52] Ferb2012 opened #23 "[Breaking] 0.40 Add namespaced import React/* to headers"
There is breaking change in react-native 0.40, please refer to https://github.com/facebook/react-native/releases/tag/v0.40.0

[2017-01-17 06:54] plrthink commented on #23
Wow, thank you.

I'm on vacation these days, so I would check that when I'm come back home.

[2017-01-17 17:08] itinance commented on #23
https://github.com/plrthink/react-native-zip-archive/pull/24

[2017-01-18 18:37] #23 closed

[2017-02-01 09:03] juhasuni opened #25 "New NPM release for RN >= 0.40"
Could you please create a new release for React Native 0.40? Current version (0.0.11) doesn't work with RN 0.40, but the master branch seems to already contain all the necessary changes.

[2017-02-01 09:11] plrthink commented on #25
Yeah, sure. Actually, I'm planning to release a more stable version with a better doc and some fixtures. I would do this as soon as possible.

[2017-02-01 20:04] chirag04 opened #27 "remove es6-promisify dependency"
es6-promisify does not work with RN master. Looking at the usable, it seems like removing es6-promisify should be easy.

[2017-02-02 03:16] plrthink commented on #27
will do that

[2017-02-07 09:47] plrthink commented on #27
removed in #29, but still needs some testing.

will close this when that PR get merged.

[2017-02-07 09:53] plrthink commented on #25
Just submit a PR to fix this issue in the `next` branch.

In addition to fixtures, it also has some break changes.  So could you pls install it via github to test it?

[2017-02-07 09:54] plrthink commented on #25
this is the PR https://github.com/plrthink/react-native-zip-archive/pull/29

[2017-02-07 10:51] SpaceK33z opened #30 "Compile issue with RN 0.41"
When compiling the app with RN 0.41, it fails with this error:

[code]

It was fixed after moving some files around in this package, `RNZipArchive.m` and `RNZipArchive.h` need to be directly in `ios/`. After this the build succeeded again. I'm not sure if this is the correct way to fix it, but I'll submit a PR.

[2017-02-07 10:53] SpaceK33z commented on #30
Oh, I see this was fixed in the `next` branch with 7ccafaae638ab64952a2ea5fca7e8faf41c5616d. Nice!

[2017-02-07 10:53] #30 closed

[2017-02-08 03:49] phanthoa opened #31 "Duplicate interface definition for class 'RCTBridge'"
how to fix it.thanks
react-native 0.41.2

[2017-02-08 03:52] plrthink commented on #31
Have tried install with `next` branch on github? Please try that to see it whether fix this issue.

[2017-02-12 09:46] plrthink commented on #25
the new version has been published on npm so I would close this issue

[2017-02-12 09:46] #25 closed

[2017-02-12 09:46] plrthink commented on #27
the new version has been published on npm so I would close this issue

[2017-02-12 09:46] #27 closed

[2017-02-12 09:46] plrthink commented on #31
the new version has been published on npm so I would close this issue

[2017-02-12 09:46] #31 closed

[2017-02-12 09:53] plrthink opened #32 "transfer the repo to mockingbot"

[2017-02-12 09:55] plrthink commented on #32
done

[2017-02-12 09:55] #32 closed

[2017-02-15 18:53] cdlewis opened #33 "NPM release for 0.40 support"
Many of us don't feel comfortable pinning a dependency to latest. Would it be possible for you to do an npm patch release?

[2017-02-16 02:39] plrthink commented on #33
I'm no familiar with 'npm patch release', but the version 1.0, 0.4.0 support, is already landing on npm.

[2017-02-17 03:02] #33 closed

[2017-02-17 03:03] plrthink commented on #33
I'm closing this issue since it's not active, feel free to reopen it on further discussion.

[2017-02-28 17:15] light-of-king opened #35 "can not use cocoapods ?"
Fetching podspec for `RNZipArchive` from `../node_modules/react-native-zip-archive`
[!] The `RNZipArchive` pod failed to validate due to 1 error.
[!] The validator for Swift projects uses Swift 3.0 by default, if you are using a different version of swift you can use a `.swift-version` file to set the version for your Pod. For example to use Swift 2.3, run:
    `echo "2.3" > .swift-version`:
    -

[2017-02-28 18:07] light-of-king commented on #35
add this in `node_modules/react-native-zip-archive`
[code]
can work for me

[2017-02-28 18:07] #35 closed

[2017-03-01 03:00] plrthink commented on #35
@light-of-king you can fire a pr for this😀

[2017-03-01 03:42] plrthink commented on #35
Just checked that also you need to remove the 'v' from the `tag` value.

[code]

[2017-03-06 15:30] uc-asa opened #38 "RCTBridgeModule.h file not found"
Hello Team,

I'm using react native version 0.30, but I'm facing RCTBridgeModule.h file not found, please suggest me what should I do.

[2017-03-06 16:17] plrthink commented on #38
Sorry for that, you can use the version 0.0.11 of this package for rn<0.40.0.

We're still trying to support all versions of RN. Hope it will ASAP.

[2017-03-07 09:48] plrthink commented on #38
I just update it to `1.1.0` which should support all versions of react-native. So I'm going to close this issue, but feel free to re-open it for further questions.

[2017-03-07 09:48] #38 closed

[2017-03-08 06:32] atomicleopard opened #41 "RNZipArchive. was called with 2 arguments but expects 3 arguments."
Failure when calling `ZipArchive.unzip(zipFile, this.bundleDir)`

Full error message:
[code]

When I unwrap to the native call directly, it does indeed have three arguments, the third argument is a callback method which receives a null on completion.

The native call that works looks like this:

[code]

fragment of my yarn.lock
[code]

[2017-03-08 07:26] plrthink commented on #41
Seems that you're using the older version on the native side since I have already replaced the callback with promise. Could you please re-install and re-link it, also make sure clean your build (if you're using it with XCode)? This may solve the issue.

[2017-03-08 07:29] plrthink commented on #41
Also note that yarn has the cache mechanism which may still install the same code from the registry, so you may need to clean cache before installing.

[2017-03-08 15:22] chirag04 commented on #41
remove the zip archive project from xcode libraries and add it back.

[2017-03-09 02:04] atomicleopard commented on #41
Thanks for the support, I can confirm that the project in XCode was marked as red, and removing and re-linking it added it back properly. Unfortunately, my build fails:

[code]

It looks to us like it has something to do with the conditional includes in the .h and .m files:

[code]

Any guidance would be appreciated - I've cleaned, unlinked, linked, upgraded etc and nothing seems to resolve this.

[2017-03-09 02:09] plrthink commented on #41
Oh, sorry for this, I forget to notify you that you should try the latest code on next branch since I have fixed something but not ship it yet. If that code would work on your side, I would publish a new release to npm.

So please install it via GitHub with next branch

[2017-03-10 14:29] plrthink commented on #41
Just publish 1.1.1 on npm which should resolve this issue, so I'm going to close this issue, feel free to reopen it if you still have trouble with this.

[2017-03-10 14:29] #41 closed

[2017-03-13 03:30] atomicleopard commented on #41
1.1.1 resolved the issue, thanks.

[2017-04-25 11:07] uc-asa opened #43 "Manual Installation"
Hello,

Can you provide manual installation guid, because in my project rnpm link and react-native link is not working.

[2017-04-25 18:15] uc-asa opened #44 "undefined is not an object evaluating RNZipArchive.unzip"
Hello Team,

I'm rn 0.30 version and after installing I'm facing problem undefined is not an object evaluating RNZipArchive.unzip, please suggest what can i do

[2017-04-27 03:18] plrthink commented on #43
There's a detailed guide on react-native doc talking about [how to manually linking libraries](https://facebook.github.io/react-native/docs/linking-libraries-ios.html).  I think this would be helpful.

Also, you should add `libz` to `Link Binary With Libraries`.

But I still recommend using `react-native link` command, maybe you need try upgrade `react-native-cli` first.

[2017-04-27 03:22] plrthink commented on #44
Hi,

Which platform are you trying to build against? iOS or Android? I'm going to test it out.

[2017-04-27 03:22] uc-asa commented on #43
Thank you, I have done it.

On Thu, Apr 27, 2017 at 8:48 AM, Perry Poon <notifications@github.com>
wrote:

--
*Thanks,*

*Asheesh Kumar Sahu*
*Software Engineer(Apps)*
*uCertify*

[2017-04-27 03:24] plrthink commented on #43
Oh, great!

But could you show some of you solutions here? It would help others who are facing the same problem.

[2017-04-27 03:25] uc-asa commented on #44
Hello,
I'm trying to build on iOS, it generate error but after that I have linked
library and make changes then It works fine. Thank you

On Thu, Apr 27, 2017 at 8:52 AM, Perry Poon <notifications@github.com>
wrote:

--
*Thanks,*

*Asheesh Kumar Sahu*
*Software Engineer(Apps)*
*uCertify*

[2017-04-27 03:35] plrthink commented on #44
I think it's because it hasn't been linked yet.

I'm going to close this two issues.

Happy coding.

[2017-04-27 03:35] #44 closed

[2017-04-27 03:35] #43 closed

[2017-04-27 04:42] uc-asa commented on #43
Hello,

Install react-native-zip-archive using
npm install react-native-zip-archive --save

**Fos iOS**
1) Open you project in xcode and also open folder node_modules/react-native-zip-archive
![image](https://cloud.githubusercontent.com/assets/16412197/25468006/11cb505c-2b30-11e7-9e5c-9d4f82cd0c49.png)
2) Open your build phase of project then goto  add link binary with libraries
![image](https://c

[2017-04-27 07:48] itinance commented on #43
@uc-asa Thanks for pointing out. Would you might add these instructions including the pictures into the README and make a pillrequest with that?

[2017-05-17 13:18] Juanpe19 commented on #14
Hi, I've been trying to find another solution because this isn't helping, I tried everything I have in mind and it just won't work.
I have the same exact problem, using "react-native": "0.43.3".
If anyone could update this issue it would be grate, thanks!

[2017-05-17 13:31] plrthink commented on #14
@AmatsuZero

[2017-05-18 13:05] Juanpe19 opened #45 "undefined is not an object (evaluating 'RNZipArchive.unzip')"
I'm having an issue when I import the {Unzip} from the library.
The error is the one described in the title.
I've been trying to find another solution than the one already posted here and closed because it wasn't helping, I've tried everything I have in mind and it just won't work in Android. It works fine in iOS.

I'm using:
"react-native": "0.43.3",
"react-native-zip-archive": "^1.1.1"

[2017-05-18 15:07] #45 closed

[2017-06-01 08:05] yclxiao commented on #17
@chirag04 , can you tell me ,you fork github url?

[2017-06-01 08:56] plrthink commented on #17
@yclxiao you can install via this url `"react-native-zip-archive": "plrthink/react-native-zip-archive#custom-ssziparchive"`

[2017-06-07 11:40] ankurToko opened #46 "Issue while unzipping on IOS"
I get the following error:

Error: unable to unzip
    at createErrorFromErrorData (NativeModules.js:116)
    at NativeModules.js:79
    at MessageQueue.__invokeCallback (MessageQueue.js:288)
    at MessageQueue.js:127
    at guard (MessageQueue.js:46)
    at MessageQueue.invokeCallbackAndReturnFlushedQueue (MessageQueue.js:126)
    at debuggerWorker.js:71

[2017-06-07 13:04] #46 closed

[2017-06-07 13:05] ankurToko commented on #46
I was having a missing "/" while sending the source and target for unzip.

[2017-06-12 14:30] plrthink commented on #17
I just published v2 to solve this issue. So pls update to that and I would close this issue. If you still have some problem around this, feel free to reopen this.

[2017-06-12 14:30] #17 closed

[2017-06-19 03:17] mikestaub opened #49 "cannot extract .zip file on android"
I ran into this exact problem today:
https://stackoverflow.com/questions/15738312/how-to-fix-org-apache-commons-compress-archivers-zip-unsupportedzipfeatureexcept

`java.util.zip.ZipException: only DEFLATED entries can have EXT descriptor`

I saw no obvious way to resolve this using the `java.util.zip` package, so I just used the `org.apache.commons.compress.archivers.zip.ZipArchiveInputStream` cl

[2017-06-19 06:41] plrthink commented on #49
@mikestaub cool! maybe you could create a PR to solve this?

[2017-06-19 09:29] truonghoangphuc opened #50 "Can't build after upgrade React Native to 0.45"
Hi all,

After I update my project to React Native 0.45, I have trouble with RNZipArchive, I can't build it because it alert "/node_modules/react-native/React/Base/RCTBridgeModule.h:12:9: 'React/RCTDefines.h' file not found"

Any ideas to fix or I must downgrade React Native ver?

Thanks,

[2017-06-20 07:35] plrthink commented on #50
Hi, @truonghoangphuc, I just tested the latest version of this package with rn@0.45.0, it works well on my side. Can you try upgrade react-native-zip-archive to 2.0.0 to see if it works?

[2017-06-27 23:08] Polidoro commented on #17
Just a heads up for anyone else trying to get this working, v2.0.0 did fix this issue for me, but I had to unlink and relink the RNZipArchive library in Xcode, then run a clean before it started working.

Thanks for the fix!

[2017-07-01 09:57] PeterEmanuel opened #52 "Package does not use the progress callback while busy"
Hi original author,

Are you aware that in the Android version the progress callback is only called once with 0 and once with 1 in unzipStream()? I have not yet checked the iOS code.

I want to have feedback on the name of the entry being unzipped and the extractedBytes so far...
(so I am trying to fix this in a fork).
The name of this entry would be a good extra parameter to the progress callback

[2017-07-03 06:12] plrthink commented on #52
Yeah, actually if you insect the implementations starts [here](https://github.com/mockingbot/react-native-zip-archive/blob/master/android/src/main/java/com/rnziparchive/RNZipArchiveModule.java#L141), then you would see the current solution is just execute the callback only at beginning
and the end. And we could improve this, maybe in next release.

Also you could open PR to this one, we need you h

[2017-07-10 03:53] plrthink commented on #50
I would close this since it's not active for a while, but feel free to reopen it for any related questions.

[2017-07-10 03:53] #50 closed

[2017-07-10 08:00] genglei01 opened #53 "Does it support password?"
Does it support password? SSZipArchive supports password

[2017-07-10 10:08] PeterEmanuel commented on #52
Thanks for getting back. I have already tweaked the Android Java version for the kind of progress info I need. The Objective-C code is more tricky, as it only calls a single function to unzip (not explicitly looping over entries) and I am completely new to Objective-C. I will need some external help for this and I am afraid I cannot offer a PR, because I am only interested in unzipping, not zippin

[2017-07-10 15:34] plrthink commented on #53
By now it not supported yet, but I think it's not very hard to implement, I will add this function ASAP, also you could submit a PR~.

[2017-07-10 15:40] plrthink commented on #52
@PeterEmanuel No, you're welcome to do that, the unzip progress for Android is already helpful for this project and the others would continue to work on this functionality based on your contributions.

Don't feel afraid, this is exactly how open source works :smile:

[2017-07-11 11:51] 32xnabin opened #54 "unable to unzip in ios using native base kitchen sink template"
error log --
[info][tid:com.facebook.react.JavaScript] file:///Users/nepaldigital/Library/Developer/CoreSimulator/Devices/F1729D4C-347F-42EA-9198-8DF061204525/data/Containers/Bundle/Application/BEA0BB92-D9A5-446F-8B2B-1FCC388BB983/NativebaseKitchenSink.app/751.zip
 [info][tid:com.facebook.react.JavaScript] { [Error: unable to unzip]
  line: 2807,
  column: 24,
  sourceURL: 'http://192.168.1.53.xip

[2017-07-17 03:22] plrthink commented on #54
you mean this one?

https://github.com/GeekyAnts/NativeBase-KitchenSink

[2017-07-17 14:45] 32xnabin commented on #54
that's right I have cloned this repo and tried to unzip after downloading a zip file

[2017-07-18 09:30] plrthink commented on #54
ok, I will check that ASAP

[2017-07-20 14:32] benvium commented on #52
I've tried to implement this a few times in the past - the issue I'm having is that the handy-sounding `ZipEntry#getSize()` and `ZipEntry#getCompressedSize()` methods always return -1 for me, so it's hard to work out the actual progress. You can't compare the number of bytes extracted to the original file file, as (obviously) files are larger when decompressed.

[2017-07-21 09:27] benvium commented on #52
I've opened a PR #56 for this.

[2017-07-21 13:02] j8seangel commented on #45
Adding this `new RNZipArchivePackage()` in MainAplication.java makes it work for me

[2017-07-21 14:39] plrthink commented on #52
closing this issue since the PR addressed this issue was merged into the master branch.

feel free to reopen it.

[2017-07-21 14:39] #52 closed

[2017-07-21 14:43] plrthink opened #57 "unzip in background thread"
Since this great PR https://github.com/mockingbot/react-native-zip-archive/pull/56 was merged into the master, it's reasonable to make iOS side works in the same way:

- unzip in the background thread
- give the real progress event, not just emitted at the beginning and the end.

PRs are welcome.

[2017-07-21 14:44] plrthink commented on #57
cc @AmatsuZero @benvium @PeterEmanuel

[2017-07-21 14:50] plrthink opened #58 "we need some tests"
Since this package is becoming more and more popular, thanks to the community, I think we need some test to make it more reliable.

ideas and PRs are welcome~

[2017-07-21 14:51] plrthink commented on #58
cc @AmatsuZero @benvium

[2017-07-21 15:04] plrthink commented on #45
@j8seangel it should work fine if you linked it successfully, etc. react-native link.

also, there's a detailed guide on how to manually install it, https://github.com/mockingbot/react-native-zip-archive/issues/43#issuecomment-297610144, maybe we should add this to the readme

[2017-07-21 15:40] benvium commented on #57
Good idea @plrthink.

For reference, this document describes how to manage background threads in iOS RN Modules:
https://facebook.github.io/react-native/docs/native-modules-ios.html

[2017-07-21 16:04] plrthink commented on #57
@benvium thanks, will check it out

[2017-07-21 17:29] j8seangel commented on #45
I don't know why the react-native link didn't work well the first time and I had to include it by hand, but I agree on include the manual install in the readme to give it more visibility.

[2017-07-22 03:17] plrthink commented on #57
just inspected the code more carefully, we have already implemented the accurate progress since we use implemented the delegate method `zipArchiveProgressEvent` which should works as expected.

@peteremanuel could you try that again? maybe the zip file is too small to emit events.

[2017-07-24 12:59] itchingpixels opened #59 "Doesn't work with React Native 0.46.4"
`:react-native-zip-archive:compileReleaseJavaWithJavac - is not incremental (e.g. outputs have changed, no previous execution, etc.).
/Users/mark/Dev/drops-react-native/node_modules/react-native-zip-archive/android/src/main/java/com/rnziparchive/RNZipArchivePackage.java:11: error: RNZipArchivePackage is not abstract and does not override abstract method createJSModules() in ReactPackage
public cla

[2017-07-24 16:38] plrthink commented on #59
It's wired I think since the RNZipArchivePackage class did implement the `createJSModules` method. Which version of the package you're using?

[2017-07-24 17:00] itchingpixels commented on #59
@plrthink : ahh, I'm sorry. I haven't been using the latest version. will close this, sorry again! I saw that a few days ago createJSModules() has been moved back.

[2017-07-24 17:03] #59 closed

[2017-07-24 17:12] plrthink commented on #59
@itchingpixels  it's ok ;)

Yeah, since it's not necessary after rn@0.47+. But we added it back in current master branch and still trying to not deliver a break change release. But this is just in the development stage and not published yet. So if you install the latest version via npm, everything should just work.

[2017-07-24 17:53] itchingpixels commented on #59
unfortunately we're relying another fix that have been merged to master
(podspec). so we can not use the latest release, but need to depend on a
specific commit.
On Mon, 24 Jul 2017 at 18:12, Perry Poon <notifications@github.com> wrote:

[2017-07-25 02:40] plrthink commented on #59
ok, I think latest commit on the master branch would work fine, and once we finish this issue https://github.com/mockingbot/react-native-zip-archive/issues/57 we would release a new version.

[2017-08-01 12:05] ayushnawani opened #60 "iOS : Unable to unzip."
Hi,
I am trying to zip a file then unzip the same file. But i am getting error while doing so.
For folder is working perfectly fine but error is thrown in case of a file

**Note**  : for any size of source file , I am always getting **zipped file of size 22 bytes.**

Any idea what i am doing wrong ?
.
**Code** :

[code]

**Error Trace** :
[code]

[2017-08-01 12:34] zhumoyong opened #61 "your RNZipArchive.podspec is error"
s.subspec 'RNZASSZipArchive' do |ss|
    ss.source_files = 'ios/# `RNZASSZipArchive`/*.{h,m}', 'ios/RNZASSZipArchive/aes/*.{h,c}', 'ios/RNZASSZipArchive/minizip/*.{h,c}'
    ss.private_header_files = 'ios/RNZASSZipArchive/*.h', 'ios/RNZASSZipArchive/aes/*.h', 'ios/RNZASSZipArchive/minizip/*.h'
  end

[2017-08-01 12:37] zhumoyong commented on #61
you can use previous version about RNZipArchive.podspec

[2017-08-02 02:05] plrthink commented on #61
Yeah, also the fixed version has been merged into the master branch, so it will be shipped in next release.

[2017-08-02 02:08] #61 closed

[2017-08-02 03:00] zhumoyong commented on #61
you can push to npmjs, npmjs id old version

[2017-08-02 03:01] zhumoyong opened #62 "npmjs is old version"
thank you  ! i hope you can push npmjs

[2017-08-02 03:11] plrthink commented on #62
Yeah, sure. We're still working on this one https://github.com/mockingbot/react-native-zip-archive/issues/57 and will ship that when it's done.

For now, you can install this package via github master branch to avoid the podspec issue.

[2017-08-02 03:11] #62 closed

[2017-08-05 21:08] mesbahsabur opened #64 "[Android] Couldn't zip on RN 0.46.4"
I get this error when trying to zip a folder on Android 7.0 (Galaxy 8) (Update: same on simulator Android 6.0)

[code]

Unzip works fine though...!

I'm running latest master commit.
All worked fine on RN 0.43.3, but this happens on RN 0.46.4

iOS zip and unzip work fine too btw!

[2017-08-05 21:26] mesbahsabur commented on #64
I think it may have something to do with the fact that I'm trying to zip a folder that contains an empty folder...

`08-05 23:24:41.203 18129-21085/com.cirqr W/System.err: java.io.FileNotFoundException: /data/user/0/com.cirqr/files/productData/3hrn4GMHzoZ3BGby (Is a directory)`

[2017-08-12 23:01] mesbahsabur commented on #64
I managed to fix this temporarily by using this guy's zip functions instead: https://stackoverflow.com/a/41653409/7937660

[2017-08-28 19:52] aschenkel opened #66 "Update npm package"
Update npm package to match master and be compatible with RN 0.47

As a workaround I'm using

`"react-native-zip-archive": "github:mockingbot/react-native-zip-archive#c0bc574e6244a9a9bbd489c4a42170674af389ad"`

[2017-09-07 14:37] plrthink commented on #66
Sorry for late response. I'm still working on this issue occasionally, and I would ship a version when it's solved, maybe this weekend.

So, I will come back when I can finish it and keeps this issue open during this period.

[2017-09-26 06:22] plrthink commented on #66
Just shipped a new release to npm with a lot of fixes and new features like unzipping on a separate thread. So I'm going to close this.

[2017-09-26 06:22] #66 closed

[2017-09-26 06:23] plrthink commented on #57
Just shipped a new release to npm with a lot of fixes and new features like unzipping on a separate thread. So I'm going to close this.

[2017-09-26 06:23] #57 closed

[2017-09-27 14:03] scerelli commented on #60
same here, dunno why! the curious thing is that yesterday it was working great, but even if i did nothing special on the zip process, today it doesn't work anymore.

[2017-09-28 02:19] plrthink commented on #60
ok, will check this tonight

[2017-10-02 10:00] Stophface opened #71 "Unzipping failes on Android - Does not recognize zip file"
I am trying to unzip this testfile (https://www.dropbox.com/s/d2fbgpf3mivw23c/peace.zip?dl=0) which I got from here http://www.colorado.edu/conflict/peace/download/index.html (`peace.zip`).
I downloaded the data with `react-native-fetch-blob`

[code]

I then hardcode the link to the `zip-file`, for testing purposes:

[code]

That gives me:

It is a `zip file` though. I can access the file and `unz

[2017-10-03 18:07] EyalSi commented on #60
got the same error on iOS. (works on android)

[2017-10-04 12:36] Stophface commented on #71
Dropbox corrupted the zip file....

[2017-10-04 12:36] #71 closed

[2017-10-08 23:48] EyalSi commented on #60
I found the problem in my case. I'm using react-native-document-picker. the file name received on iOS starts with file://. Removing it, fixed the problem...

[2017-10-20 18:15] itchingpixels commented on #17
Hey! We're trying to also use react-native-zip-archive with code push and bumping into another issue:

It seems like now that both react-native-zip-archive and codepush includes ssziparchive, some of the code won't compile because of duplicate struct definitions.

![image](https://user-images.githubusercontent.com/5416288/31835819-f43df960-b5ca-11e7-9b18-70aeafa3e67d.png)

[2017-10-20 18:21] itchingpixels opened #72 "[iOS]: 2.1.0 doesn't work with CodePush when installed with CocoaPods"
Hey! We're trying to also use react-native-zip-archive with code push and bumping into another issue:

It seems like now that both react-native-zip-archive and codepush includes ssziparchive, some of the code won't compile because of duplicate struct definitions.

![image](https://user-images.githubusercontent.com/5416288/31835819-f43df960-b5ca-11e7-9b18-70aeafa3e67d.png)

[2017-10-20 18:22] itchingpixels commented on #72
We can fix this short-term by forking react-native-zip-archive, but what would be the plan to fix this long-term?

[2017-10-20 18:42] chirag04 commented on #72
forking and removing all the ssarchive stuff and providing a header path in code push is what i do right now. https://github.com/chirag04/react-native-zip-archive/tree/ssziparchive2

[2017-10-21 09:03] itchingpixels commented on #72
@chirag04 : I think you're using a quite outdated version of react-native-zip-archive there, since SSArchive has been renamed since then in the repo, so we can not use one SSArchive as the dependency for both codepush & react-native-zip-archive as currently stands.

I believe we depending on a newer version that has lots of vital fixes.

[2017-10-21 09:05] itchingpixels commented on #72
Thanks for the suggestion though:)

Probably we'll also end up doing something similar, but with a newer version of this lib.

@plrthink : do you have any suggestions?

Shouldn't the conflicting struct be also renamed, if the rename was a conscious choice?

[2017-10-21 12:51] plrthink commented on #72
@itchingpixels Yeah, I have renamed the ssziparchive just to solve the duplicate symbol issue when using with codepush. But our use case is in a pure react-native way, which means installed with npm. So we didn't run into this situation.

I'm still not sure the correct way to solve this problem. Renaming is kind of a workaround, but not maintainable. I would take a look at it, and any advice or PR

[2017-10-21 12:55] plrthink commented on #64
@mesbahsabur Cool, would you like to open a PR to fix this? That would be helpful.

[2017-10-22 16:48] itchingpixels commented on #72
I've looked into it and got it working by:
- Using SSZipArchive pod, not the one that has been bundled with either react-native-zip-archive nor with CodePush (so both of the subspecs are left out, and only using "Core")
Looks like this:
[code]
- Modify the imports to `#import <SSZipArchive/SSZipArchive.h>` in RNZipArchive.h, and remove the RNZA prefix from class names.
- No change in CodePush is r

[2017-10-22 16:51] itchingpixels commented on #72
Obviously this will not solve the non-cocoapods problem, where these two libraries will clash.
We'll probably start using our own fork of react-native-zip-archive, that we can make work with CodePush & cocoapods.

But I'm not sure how the original problem could be solved then - conflicting class names when _not_ using Cocoapods. How do other libraries deal with this issue?

I don't really have a s

[2017-10-22 17:29] plrthink commented on #72
As far as I can tell, the current solution works well with npm. I'm not sure what's the difference between it and cocopod installed. Maybe the .xcworkspace? I did some search before but with no luck at all. So I have to rename the class as a workaround.

And I believe the version of SSZipArchive is 1.6.1 which updated in this PR, which reminds me I should update it to the latest version.🤔

I wish

[2017-10-22 21:35] itchingpixels commented on #72
Yeah, I guess if rnpm was a real dependency manager, this could be solved:).

I believe react-native will put more emphasis on Cocoapods in the future (at least they're talking about better rnpm compatibility), but let's see!

We've forked react-native-zip-archive, this is the diff:
https://github.com/languagedrops/react-native-zip-archive/commit/06e07629a395738fedc15881f144eea513d5447f

and the P

[2017-10-23 01:26] plrthink commented on #72
Thanks for sharing~

For me, I would prefer npm since I came from a JavaScript developer not familiar with Cocopod before. But that really depends.

I would still try to fix this, hope I will find a nice way.

[2017-11-24 02:32] pstanton opened #75 "zip/unzip variable value"
is it currently possible to zip or unzip a variable value ie not a file/asset?

something like:

let text = 'some ascii text that can be zipped';
let bytearray = zip(text);

[2017-11-24 04:05] plrthink commented on #75
I think it could not be done currently, but I' curious about what you expected the result? A zip file contains a text file or something else? maybe we could implement it.

[2017-11-24 05:42] RamkumarBPE opened #76 "Unable to unzip files in react-native-zip-archive in background"
Hi,
I would like to like Unzip the zip file in background, Can anyone tell me How to do this?

If Un-zipping, it is getting cancelled in the mid, if I go to some other screen

Kindly help me on this.

[2017-11-24 07:09] plrthink commented on #76
I'm afraid that it can't be achieved on iOS right now, see this issue (https://github.com/facebook/react-native/issues/167) for more info. But on Android, we have the headless js API which allows us to address this. We could implement this.

[2017-11-24 22:13] pstanton commented on #75
here's something i wrote for java

I'd be surprised if the equiv was not possible in iOS, maybe something [like this](https://github.com/nicklockwood/GZIP/tree/master/GZIP) ?

[code]

[2017-11-28 03:46] plrthink commented on #75
Thanks for your contributions, but I think the main concern of this package is zip and unzip the files. So I'm sorry to say this may not be implemented in this module.

[2017-11-28 03:49] pstanton commented on #75
ok. anyone else need what i need, look at [gzip-js](https://www.npmjs.com/package/gzip-js)

it does what i need, however a native impl would have been more efficient i would have thought.

[2017-11-28 03:51] #75 closed

[2017-12-31 15:00] plrthink commented on #54
finally got some time to take a look. really sorry for the delay.

Do you still have this issue? I can successfully use react-native-zip-archive with nativebase-kitchensink project, and here is the app https://github.com/plrthink/NativeBase-KitchenSink.

I'm going to close this since it seems not a problem with the package itself. But feel free to comment more if you still have problems with this.

[2017-12-31 15:00] #54 closed

[2018-01-19 21:48] sindhu732 opened #80 "Error compiling package"
[code]

React Native v0.52.0
React Native CLI v2.0.1
Building for Android

What do you suggest for this error?

[2018-01-23 09:15] Bramvanosta opened #81 "iOS: Unable to unzip after upgrading React Native to 0.52.0"
Hello,

I tried using this package on a new RN project using version 0.52.0 and I couldn't get it to unzip, it gave me the error "unable to unzip".

I tried running the example given in this repository, and everything worked fine. I then upgraded the version of RN used from 0.48.4 to 0.52.0 (and React from 16.0.0-alpha.12 to 16.2.0) and the error came back.

[code]

[2018-01-23 09:53] #81 closed

[2018-01-23 09:54] Bramvanosta commented on #81
The test zip file I was using seemed to be wrong or something.

[2018-01-25 08:08] Thyiad opened #82 "Chinese file name garbled"
When the file name is not english, it will garbled.
How to fix it ...

[2018-01-29 18:31] kanalasumant opened #83 "cannot use async/await"
Hello. Thank you for this wonderful library. I encountered an issue where I've used the unzipping and zipping commands using async/await and they don't work as expected, since I thought the results are promises. The documentation mentioned promises way **works** just fine. Is this a bug or am I doing something wrong, I'm not sure. Let me know if you tried this, I'd appreciate it.

[2018-01-30 04:05] ducpt2 commented on #60
[iOS] Still the same problem.
@EyalSi my ios file start with: ""/private/var/mobile..."
Any helps?

[2018-02-04 13:59] plrthink commented on #80
Sorry for the late response.

Have you solved this? I can successfully compile it with the env you mentioned. Have you tried clean the cache and retry from scratch?

[2018-02-04 15:04] plrthink commented on #64
can anyone experienced this issue try the code on the master branch? if the library has fixed this issue, thanks the PR brought by @Deividy , I would release the patch ASAP.

[2018-02-04 15:24] plrthink commented on #82
I think the OSs(iOS and Android) has already taken care of this. Can you try this repo https://github.com/plrthink/react-native-zip-archive-none-ASCII-path-name to see this behavior? It works as expected on my side.

[2018-02-04 15:39] plrthink commented on #83
Could you show some snippets you're using? I can successfully use the API with async/await. So maybe there's something wrong with your code.

[2018-02-16 23:54] skyforeverGE commented on #83
@kanalasumant @plrthink : probably, I know what is going on because i got the same situation; remove the try catch block then try again

[2018-02-17 02:34] plrthink commented on #83
@skyforeverGE Sorry I don't get it, you mean which try catch block?

[2018-02-20 10:17] GaudamThiyagarajan commented on #53
any update on this. can I unzip a file which was password encrypted from ruby using Zip::Archive.encrypt('filename.zip', 'password')

[2018-03-09 07:32] tanjun210 opened #85 "我安装这个插件后用不了，是否在MainApplication中需要配置些东西呢？我有点不知所措。"

[2018-03-09 08:06] #85 closed

[2018-03-09 09:42] plrthink commented on #85
`react-native link react-native-zip-archive` 就好了

[2018-03-12 02:26] tanjun210 opened #86 "我建议可以把配置信息写全一点，对于很多JavaScript过来的可能配置比较困难"
在MainApplication.java文件下加入

import com.rnziparchive.RNZipArchivePackage;  //here

@Override
    protected List<ReactPackage> getPackages() {
      return Arrays.<ReactPackage>asList(
          new MainReactPackage(),
          new RNZipArchivePackage()   //here
      );
    }

[2018-03-12 04:44] plrthink commented on #86
可以在根目录下跑 `react-native link`，cli 会自动完成这些

[2018-03-12 04:44] #86 closed

[2018-03-15 18:39] lmvco opened #88 "Zip64 support?"
Is this module able to extract [Zip64](https://en.wikipedia.org/wiki/Zip_(file_format)#ZIP64) files?

[2018-03-23 10:21] zhzpeng opened #89 "unzip file exception"
when file's name contains  chinese characters，unzip function catched exception (works on android)

[2018-03-25 12:30] plrthink commented on #89
could you try this https://github.com/plrthink/react-native-zip-archive-none-ASCII-path-name out, or provide a minimal example to reproduce this issue?

also duplicated with https://github.com/mockingbot/react-native-zip-archive/issues/82, I'm going to close this and please continue on that thread

[2018-03-25 12:30] #89 closed

[2018-03-25 15:04] plrthink commented on #88
I think we can handle that since the underlying library already supported, but never test that yet. We can give a test to see what happens.

[2018-03-26 01:11] zhzpeng commented on #89
I'm sorry to describe the question, I mean the child file's name contains chinese characters which in zip file. just like this
![image](https://user-images.githubusercontent.com/13147702/37882404-a778c566-30d5-11e8-8dbf-8485ebcada34.png)

[2018-03-26 01:21] plrthink commented on #89
@zhzpeng ok, will try it ASAP

[2018-04-01 15:30] plrthink commented on #89
@zhzpeng tried with the situation you describe but still can't reproduce the error. Could you please provide a minimal app to demonstrate the problem? That would be helpful to track the issue.

[2018-04-02 01:37] zhzpeng commented on #89
I updated react-native-zip-archive to new version 2.2.2 and it is OK to unzip chinese characters file. The exception occurs in version 2.2.1

[2018-04-02 01:47] plrthink commented on #89
look like we have fixed that unexpectedly, also it's recommended to always use the latest version.

[2018-04-03 06:41] plrthink commented on #82
closed due to has already solved in the latest version ( 2.2.2)

[2018-04-03 06:41] #82 closed

[2018-04-05 13:01] ferminmoli commented on #64
I'm using react-native 0.54.0 and it is not working also. Is there any workaround for this?

[2018-04-05 13:09] ferminmoli opened #90 "[Android] Couldn't zip on RN 0.54.0"
Error: Couldn't zip /data/user/0/com.mobileapp/files/syncFiles/93604/photos1.zip
at createErrorFromErrorData (C:\Projects\mobile\Mobile\node_modules\react-native\Libraries\BatchedBridge\NativeModules.js:123)
at C:\Projects\mobile\Mobile\node_modules\react-native\Libraries\BatchedBridge\NativeModules.js:80
at MessageQueue.__invokeCallback (C:\Projects\mobile\Mobile\node_modules\react-native\Librari

[2018-04-09 02:12] plrthink commented on #90
Just tried it with react-native@0.54.0 but can't reproduce the issue, could you please provide a working example? also a more detailed info about your environment like which sdk version you're targeting?

[2018-04-13 12:42] ferminmoli commented on #90
SDK: 23

Theese are the libraries that I'm using:

    "appcenter": "^1.0.0",
    "appcenter-analytics": "^1.0.0",
    "appcenter-crashes": "^1.0.0",
    "appcenter-push": "^1.0.0",
    "axios": "^0.16.2",
    "create-react-class": "^15.6.2",
    "crypto-js": "^3.1.9-1",
    "lodash": "^4.17.4",
    "moment": "^2.19.2",
    "native-base": "2.3.5",
    "prop-types": "^15.6.0",
    "react": "^16.3.0

[2018-04-13 13:37] ferminmoli commented on #90
I can't give an example because our app is very complex. There's something else that I can do?

[2018-04-14 10:26] plrthink commented on #90
@ferminmoli maybe the folder you want to zip would be helpful

[2018-05-21 17:15] ferminmoli commented on #90
I'm still getting the same error. My folder is:

Error: Couldn't zip

/data/user/0/com.mobile/files/syncFiles/93003/photos1.zip

[2018-05-21 18:17] ferminmoli commented on #90
It works on 2.2.2. Thanks!

[2018-05-21 18:17] #90 closed

[2018-05-27 08:59] baxri opened #92 "Link manually package"
# LINK MANUALLY

Can Anyone help me how to link this package manually, also it will be good to add this in README documentation.

Every package has its manually linking guide.

[2018-05-28 01:51] plrthink commented on #92
Does `react-native link` work for you? And [react-native's official](https://facebook.github.io/react-native/docs/linking-libraries-ios.html#docsNav) guide already includes that but only for iOS.

[2018-05-28 07:02] baxri commented on #92
Yeah, the react-native link has some problems on my project I need manually linking, in docs, there are only for IOS yes.  Are you going to add this manually linking guide in README?

[2018-05-28 15:47] plrthink commented on #92
sure, has updated that in the readme. hope would help you integrate the package.

[2018-05-29 02:37] #92 closed

[2018-05-29 09:38] baxri commented on #92
It works, thank you so much :)

[2018-06-05 22:09] ecexplorer commented on #60
Having an issue zipping in iOS. Verified file paths & iOS setup. Similar to what people report here, I end up w/ a 22 byte zip file that can't be opened. Original file (uncompressed) is formatted & of expected size.

[2018-06-07 07:28] plrthink commented on #60
just published the 2.2.6 which should fix this problem. sorry for such a late fix.

[2018-06-07 20:16] ecexplorer commented on #60
@plrthink Thanks for the fix! Can confirm that I'm now able to zip a single file.

[2018-06-08 02:01] #60 closed

[2018-06-26 05:55] chenzhenquan opened #94 "Error: Asset 'static.zip' could not be opened"
I download  this example and run android :https://github.com/mockingbot/react-native-zip-archive/blob/master/example/App.js

but only get the error:Error: Asset 'static.zip' could not be opened
what cause this error？

could you help me fix this issue ，thx ？

[2018-06-26 11:16] ganesanrbt opened #95 "How to choose a compress level"
I am using a package react-native-zip-archive for android and IOS .Is there any option to choose a compress level for a zip file

[2018-06-28 14:25] markentingh opened #96 "Instructions for MainActivity.java"
I believe your instructions should be updated to instruct the user to include code within `MainApplication.java` instead of `MainActivity.java` since React Native does not support a `getPackages` method within the MainActivity.java file

[2018-07-01 19:16] aokoruyucu commented on #81
I get same error on ios simulator too. any help?

`"react-native": "0.55.4",
    "react-native-fs": "^2.10.14",
    "react-native-zip-archive": "^2.2.6",`

[2018-07-02 03:06] plrthink commented on #96
yeah, that process varies from the different versions of react-natives and I should update that info in readme. thanks for the feedback.

[2018-07-02 03:06] #96 closed

[2018-07-02 03:31] plrthink commented on #95
There's no way to choose compress level currently, but we could implement this, PRs are welcome

[2018-07-02 04:32] plrthink commented on #94
Ummm, I can run the example app on my nexus 5x. Can you paste the commands you're using to setup and run it? `yarn && react-native link && react-native run-android` would be enough.

[2018-07-02 05:42] plrthink commented on #81
@aokoruyucu could you provide your zip file so I can test it to see what's going wrong.

[2018-07-03 17:22] aokoruyucu commented on #81
@plrthink sorry for the late reply. here is my zip file.
[test.zip](https://github.com/mockingbot/react-native-zip-archive/files/2160369/test.zip)

[2018-07-10 22:57] annelorraineuy opened #97 "Cannot open zipped file on desktop"
When trying to zip 4 .csv files on the NAT app using this package, I cannot open the resulting zipped file.

_Please see the ff errors:_

**On WINDOWS**
[code]

**On OS X**
`Unable to expand "myZip.zip" into "Desktop". (Error 1 - Operation not permitted.)`

**react-native: 0.44.2
react-native-zip-archive: ^2.2.6**

---
Any leads or insights?

[2018-07-11 01:29] plrthink commented on #97
sorry, I dont get what is the NAT app? could you give a reference?

[2018-07-11 05:46] annelorraineuy commented on #97
@plrthink apologies, i just meant our react native app.
Context: from the app i create csv files and save them into one folder, and i tried to use this package to zip the contents of said folder into one .zip file. The resulting zip file cannot be opened producing those errors. Any ideas?

[2018-07-11 07:54] plrthink commented on #97
not sure what's going wrong here. could you give a zip file to reproduce this issue? that would be helpful.

[2018-07-11 15:45] annelorraineuy commented on #97
Outputted zipped file: [example_zip_with_Error_1.zip](https://github.com/mockingbot/react-native-zip-archive/files/2185176/example_zip_with_Error_1.zip)

Here is the code I did:
[code]

[2018-07-11 16:22] annelorraineuy commented on #97
@plrthink additional info to above: I tested this on iOS Simulator

[2018-07-11 19:07] annelorraineuy commented on #97
@plrthink I installed `react-native-zip-archive@2.2.0` and it works with this version!

[2018-07-11 19:07] #97 closed

[2018-07-12 02:54] plrthink commented on #97
@annelorraineuy it still an issue to me, would fix it ASAP

[2018-07-12 16:53] mts88 opened #98 "ios: zip do nothing"
Hello to everybody, when im trying to zip a folder, zip function do nothing: no response, no errors, nothing.
Im using react-native 0.48.4. My code is the simple demo of README.

Someone had the same problem? Thank you.

[2018-07-17 02:52] gorvinsky commented on #53
Any update? Does it support unzipping password-protected zip archive now?

[2018-07-30 01:45] plrthink commented on #98
can you give the folder you're trying to compress? i can test it locally.

[2018-07-30 14:34] annelorraineuy commented on #97
@plrthink i already mentioned the directory structure. Its up there in recent messages.

const OS_PATH = Platform.OS === 'ios' ? dirs.DocumentDir : dirs.DownloadDir
const TARGET_EXPORT_PATH = `${OS_PATH}/export`

[2018-08-15 21:51] gabyckaz opened #99 "Can't zip .mp3 file"
I'm trying the example code to zip files, it works great with an .txt file but now I'm using a .mp3 file and I keep getting the following error
![image](https://user-images.githubusercontent.com/11955577/44174268-db0b5f80-a09f-11e8-9844-e6e389af0d18.png)
The code is exactly the same, the only diference is the name and the file extention

[2018-09-10 21:45] mohamed-sultan commented on #53
so any one find a solution yet?

[2018-09-11 01:54] plrthink commented on #53
I can support this feature in this week

[2018-09-22 05:28] baxri opened #104 "SUBSCRIBE: WHILE ZIPPING"
## MAY BE A BUG

I am trying zip folder and show progress bar to user, but subscribe event runs only once and `progress` value is 0 and `filePath` is `undefined` . Problem is on Android OS 7.0, my code looks like this:

[code]

[2018-09-24 15:31] jschloer commented on #53
Any progress on this? Is there any way I can help you out?

[2018-09-24 16:01] plrthink commented on #53
@jschloer Yeah, sure, it turns out I can't get some time to work this these days, you can feel free to open a PR to deal with this.

[2018-09-25 14:02] jschloer commented on #53
Ok, I'll try to carve out some time today for it. Do you have any quick guidance on how you were going to implement it? i.e. parameter names, function names, any gotchas between ios and android I need to worry about?

[2018-09-25 14:37] plrthink commented on #53
Thx~

I'm not familiar with Android, but for iOS, it's using SSZipArchive under the hood, and we can utilize it to implement this feature. Perhaps the most relevant code is [here](https://github.com/ZipArchive/ZipArchive/blob/master/SSZipArchive/SSZipArchive.h#L39).

[2018-09-25 16:28] jschloer commented on #53
Hmm, ok. I'm not sure if there's a way to support android without bringing in another library like zip4j. Would you be open to an update that large?

[2018-09-26 02:29] plrthink commented on #53
I'm ok on this~

[2018-09-28 18:43] baxri commented on #104
Is there any news on this issue?

[2018-09-28 22:46] baxri commented on #104
@plrthink I noticed one more thing, the callback is called only twice while zipping when progress is 0 and then when progress is 1.

[2018-10-01 20:34] baxri commented on #104
@plrthink I updated package to 3.0.0 and now subscribe callback while zupping is works it always shows 1

[code]

[2018-10-02 04:14] plrthink commented on #104
Sorry for the late response, but not sure what's the problem. Will dig into it.

[2018-10-02 08:41] baxri commented on #104
@plrthink no problem :) the last issue is that subscribe callback always returns progress 1 while zipping.

[2018-10-07 13:34] baxri commented on #104
Hey @plrthink. The problem is while **zipping**, unzip is working greate.

environment information:

[code]

zipping code looks like this:

[code]

and this is subscribe

[code]

[2018-10-07 15:02] plrthink commented on #99
Could you confirm the mp3 file is in the fs already? I can't reproduce it with the same setup.

[2018-10-08 03:43] plrthink commented on #104
@baxri , oh, now I can see the problem.

Can you test on this branch? https://github.com/mockingbot/react-native-zip-archive/tree/fix-zip-progress.  If it works I would release a patch ASAP.

[2018-10-08 07:55] baxri commented on #104
@plrthink

I installed this branch with this command

```npm install --save mockingbot/react-native-zip-archive#fix-zip-progress```

But now I am getting this excepption

[code]

[2018-10-08 16:02] plrthink commented on #104
@baxri have updated to address this compatible issue, please try again.

[2018-10-08 21:46] baxri commented on #104
@plrthink That's it works great!!! :)

[2018-10-08 21:47] baxri commented on #104
@plrthink Thank you for your support 👍

[2018-10-08 21:51] #104 closed

[2018-10-09 02:01] plrthink commented on #104
@baxri just released 3.0.1 to solve this.

[2018-10-12 03:01] gabyckaz commented on #99
I'm sorry but I'm not longer working on this project

[2018-10-12 06:31] #99 closed

[2018-10-16 07:03] TanTouJunJun commented on #94
same error ,can you tell me how to resolve this？

[2018-10-16 07:52] TanTouJunJun opened #107 "Error: Asset '725.zip' could not be opened"
react-native-cli: 2.0.1
react-native: 0.52.0
"react": "16.2.0",
"react-native-fs": "^2.9.12",
"react-native-zip-archive": "^3.0.1"

安卓环境真机运行报错！
文件所在路径为“/data/user/0/com.fsdemo/files/725.zip”，用 RNFS.exists 确认文件确实存在，但是无法解压成功！
![image](https://user-images.githubusercontent.com/28912294/47000446-e12ec280-d15a-11e8-864a-488c66dfe63a.png)

![image](https://user-images.githubusercontent.com/28912294/4700

[2018-10-20 08:59] jzhw0130 opened #108 "zip feature behave differently on ios and android"
Hi, everyone

My scenario is : RN APP zip some files, upload the zip file to BE. BE server will decompress the zip file and do future analy.

The whole process works well if upload zip file from iOS.
The BE server can not decompress the zip file which uploaded from Android.

The BE server(Node) throws a error :
Error: absolute path: /fileName

Try to debug, find the problem as follows, file name f

[2018-11-06 15:39] hitesh96db commented on #53
Hi,

I've raised a PR for Android - https://github.com/mockingbot/react-native-zip-archive/pull/109/

[2018-11-06 21:41] Zeeerooo opened #110 "Is unzip working on iOS?"
Hi, I'm trying t unzip a file on iOS, and all I receive is
[code]
Any help?

Thanks!

[2018-11-06 22:04] AndreaFox93 commented on #110
On ios 9 same problem, from ios 10 everything is working fine!

[2018-11-07 15:31] Zeeerooo commented on #110
My zip file contains 3 files inside, any problem with that? I don't know how to get more information about the error :(

[2018-11-08 04:53] plrthink commented on #110
Sorry for the poor error messages.

Could you provide the iOS version you are operating on? Maybe it's the same problem @Zeeerooo has. And it would be helpful if you provide the zip file you are working on. I would test it out my local machine.

[2018-11-11 02:38] AfflatusX opened #111 "CoccaPod's label name is wrong"
see: https://github.com/AfflatusX/react-native-zip-archive/commit/6097ccf04cdaf2913a52cbe79597e3383b9c5e69

Looks like on GitHub the tag name starts with v ( for example, v3.0.1 ) but the pod file is outdated. After I forked this and added v to the label name, pod install works again

[2018-11-14 09:50] maayannoyhalevi opened #112 "Update ZipArchive SDK to version 2.1.3 or later because of vulnerable to the Zipperdown exploit"
We ran some security scan tools on our app and we found the following issue:
"The App embeds a version of the ZipArchive SDK that is vulnerable to the Zipperdown exploit.
The SDK gives an App the ability to unzip archives; when doing so, the SDK does not protect against file names in the archive that trigger a path traversal (such as ../..). This allows a malicious archive to overwrite files withi

[2018-11-28 09:59] CauseOfDev opened #114 "No changelog available?"
Hi,

Is there somewhere a changelog we can view? More specifically, what are the (breaking) changes coming from v2.2.6 / going to v3.0.0?

Thank you in advance.

[2018-11-29 11:14] ThatBean commented on #114
Currently you can check:

and for v3.0.0:

[2018-11-29 11:14] #114 closed

[2018-12-02 18:51] maayannoyhalevi commented on #108
Same here

[2018-12-02 18:58] maayannoyhalevi commented on #108
Look at: https://github.com/mockingbot/react-native-zip-archive/pull/113

[2018-12-03 03:57] plrthink commented on #107
抱歉现在才有时间看这个 issue

但根据报错信息，这个问题不在 react-native-zip-archive，是 react-native-fs 的 copyFileAssets 报的错（https://github.com/itinance/react-native-fs/blob/06d609f000eacc69aff69b0a2f9bf17b8811ce9a/android/src/main/java/com/rnfs/RNFSManager.java#L437），而根据代码来看，到这里 rnza 还没有运行，所以你可以继续看看 rnfs 的 doc 找到问题。

[2018-12-03 03:57] #107 closed

[2018-12-03 03:59] plrthink commented on #108
Yep, it seems like the code on the master branch has solved this problem, could you try that to validate?

[2018-12-14 06:40] pakkibokati2012 opened #115 "cant unzip for zip with multiple files with same name"
Error: Failed to extract file invalid CEN header (duplicate entry)
    at createErrorFromErrorData (C:\Users\prakash\Desktop\guide\node_modules\react-native\Libraries\BatchedBridge\NativeModules.js:121)
    at C:\Users\prakash\Desktop\guide\node_modules\react-native\Libraries\BatchedBridge\NativeModules.js:78
    at MessageQueue.__invokeCallback (C:\Users\prakash\Desktop\guide\node_modules\react-n

[2018-12-17 15:48] GROL commented on #115
+1

[2018-12-21 04:43] pakkibokati2012 commented on #115
@GROL I have already solved the problem. Actually you need to remove the files with same name.

[2018-12-29 18:40] #115 closed

[2019-01-23 10:55] StanislavMayorov commented on #72
In our case project compiles okay when we add code-push. But `unzip` work differently. `unzip` creates file instead folder.
We have used code-push v5.5 and react-native-zip-archive v3.1. languagedrops's fork fix the issue.

[2019-01-25 17:01] expouic opened #116 "Unzip cause app crash"
On my application the user can download a lot of zip files chunked with max 600 mb after the download when app start to unzip all the files (one by one) the application crash!

Any ideia to solve this?

[2019-01-31 10:58] allan-cornet-eove opened #117 "Build with RN 0.58.3 and android SDK 28 fails"
build release fails with RN 0.58.3 on android
[code]
Due to old compileSdkVersion and buildToolsVersion versions

fix:

replaces react-native-zip-archive/android/build.gradle by attached file
[build.gradle.zip](https://github.com/mockingbot/react-native-zip-archive/files/2816825/build.gradle.zip)

Standard way is to use  rootProject.ext.compileSdkVersion and rootProject.ext.buildToolsVersion

[2019-02-04 16:58] sudovijay commented on #117
Same here - RN 0.57.8

`To suppress this warning, remove "buildToolsVersion '26.0.1'" from your build.gradle file, as each version of the Android Gradle Plugin now has a default version of the build tools.`

[2019-02-05 07:09] allan-cornet-eove commented on #117
With 0.58.3 it is not a warning, it is an blocking error to use.

Please notice that build.gradle.zip attached contains the best fix.
It would be appreciated that it be integrated quickly and package in npm.

[2019-02-15 10:34] walterjgsp opened #119 "Zip csv missing data"
In IOs, when i'm using build for release, all the csv's that i zip came with missing data. This only happens when in building for release and in IOs, when i build for debug the zip work properly. How would i solve this problem? I'm using the newest version of the package. Thanks in advance.

[2019-02-15 17:29] #119 closed

[2019-02-20 01:22] toblerpwn opened #120 "Feature Request: basic flowjs type support"
I'm getting `flow` errors when calling `zip()` and `unzip()` and expecting/asserting a `Promise<*>` type as the return value. currently it looks like the library specifies `any` as the return type (i.e. no types returned in this case).

[2019-02-21 03:10] plrthink commented on #120
Sure, would have some time to improve this. You're also welcome to fire a PR to help this out.

[2019-02-21 03:18] plrthink commented on #116
According to the error code you provided, I find this so https://stackoverflow.com/questions/18996287/app-crash-in-the-device-exception-0x8badf00d. It says the app was terminated because it takes too long to respond. I would think this is related to the unzipping process, but this module is supposed to run a separate thread. Would have a test on it.

[2019-02-22 11:45] jonathangreco commented on #117
@plrthink Hi we really need this one, is it possible to have this fix soon ?

[2019-02-27 08:28] jonathangreco commented on #117
@plrthink any news on this ? Is something wrong ?

[2019-03-06 16:33] plrthink commented on #117
should be resolved with releasing 3.0.2

[2019-03-06 16:33] #117 closed

[2019-03-07 11:12] sinodko opened #122 "Update npm package"
Hello, I just wanted to ask you if it is possible to update the npm package for latest changes. Thanks! :)

[2019-03-08 02:53] plrthink commented on #122
Actually, I just updated the version on npm with the code on the master branch a few days ago. So I think a yarn update would solve your problem.

[2019-03-10 15:01] #122 closed

[2019-03-10 17:58] sinodko commented on #122
thanks :)

[2019-03-22 05:16] premmkumar09 opened #123 "React native adding password protection while creating zip"
Is there any way to create a password protected zip file using this plugin. I see option for creating a zip file which works perfectly, but i am not able to find any way to add password protection to the zip file.

[2019-03-25 05:29] premmkumar09 commented on #53
Still...?  Is there any solution for adding password while create a zip file?

[2019-03-25 05:44] plrthink commented on #53
@premmkumar09 We don't support that right now, however, it should be implemented and I think it's not so difficult to achieve. I would find some time to work on it. Also, it would so be appreciated if anyone contributes to this.

[2019-03-25 05:49] plrthink commented on #53
For anyone finds the thread, here're some updates. We do have the ability to unzip the password protected zip file since the release of v4.0.0, but can't archive with the password. And we move to another issue https://github.com/mockingbot/react-native-zip-archive/issues/123 to keep track it.

[2019-03-25 05:49] #53 closed

[2019-03-25 05:49] #111 closed

[2019-03-25 05:50] #108 closed

[2019-03-25 05:52] #64 closed

[2019-03-25 05:52] #58 closed

[2019-03-25 05:52] #116 closed

[2019-03-25 05:52] #98 closed

[2019-03-25 05:52] #83 closed

[2019-03-25 05:53] #80 closed

[2019-04-05 02:20] pjxFreeMan opened #124 "react native项目配置有私库，但是我在xcode项目运行的时候，错误如下。"
错误如下：
no such file or directory: '/Users/pangjiaxing/Library/Developer/Xcode/DerivedData/PHMobile-dfjvqacibwotrdbmdazqgojgvbhl/Build/Products/Release-iphoneos/libRNZipArchive.a

 "react-native-zip-archive": "2.1.0"

"repository": {
    "type": "git",
    "url": "git@github.com:plrthink/react-native-zip-archive.git"
  },

自己的解决思路是：
找到libRNZipArchive.a放置到对应的目录下，但是我并不能找到这个文件在github上

[2019-04-05 12:16] ghost opened #125 "Support for multi-part zip files"
Hello, good package, I like it. I wanna ask: is this package supports multi-part zip files? Can I use this package to unzip multi-part zip file into one?

[2019-04-05 12:56] NelGarbuzova commented on #125
It seems, that `react-native-zip-archive` does not support multi-part zip files. Gives the error:
`Error: Failed to extract file Not a zip archive`

[2019-04-11 13:31] Freir96 commented on #123
When can it be expected to be ready? I do not rush anyone, but I just would like to know if there is point of trying to implement a native solution in my project.

[2019-04-12 16:44] manujbahl opened #126 "unzip on ios fails with the below error"
{
    "framesToPop": 1,
    "code": "unzip_error",
    "nativeStackIOS": [
        "0   StepFour                            0x0000000104d1d3f7 RCTJSErrorFromCodeMessageAndNSError + 135",
        "1   StepFour                            0x0000000104cb1303 __41-[RCTModuleMethod processMethodSignature]_block_invoke_2.129 + 179",
        "2   StepFour                            0x0000000104c09521 -[RN

[2019-04-12 16:48] manujbahl commented on #126
The erro coming back from the bridge is this ..
{code: "unzip_error", message: "unable to unzip", nativeStackIOS: Array(17), domain: "RCTErrorDomain", userInfo: null}
code: "unzip_error"
domain: "RCTErrorDomain"
message: "unable to unzip"
nativeStackIOS: Array(17)
0: "0   StepFour                            0x0000000107d4de07 RCTJSErrorFromCodeMessageAndNSError + 135"
1: "1   StepFour

[2019-04-12 17:00] #126 closed

[2019-04-17 19:20] hariDasu commented on #126
why did you close this error @manujbahl

[2019-04-18 20:59] LiamBateman opened #127 "Unzip Error: TypeError: Cannot read property 'unzip' of undefined"
This is a simple example, straight from the docs but receiving the error: (Testing on IOS Simulator)

Any ideas what's wrong?

`Unzip Error:  TypeError: Cannot read property 'unzip' of undefined`

[code]

[2019-04-18 20:59] LiamBateman opened #128 "Unzip Error: TypeError: Cannot read property 'unzip' of undefined"
This is a simple example, straight from the docs but receiving the error: (Testing on IOS Simulator)

Any ideas what's wrong?

`Unzip Error:  TypeError: Cannot read property 'unzip' of undefined`

[code]

[2019-04-18 21:00] LiamBateman commented on #127
Sorry, somehow opened 2 issues. Closing this.

https://github.com/mockingbot/react-native-zip-archive/issues/128

[2019-04-18 21:00] #127 closed

[2019-04-23 22:18] josiahallencomm commented on #128
@LiamBateman, I ran into this same issue today and resolved it by manually linking the `react-native-zip-archive` project to my app project in Xcode (I have had to do this with a few packages to resolve similar issues).

1. Open the `ios/{Your Project}.xcworkspace` file in Xcode
2. Open Finder and navigate to `node_modules/react-native-zip-archive/ios`
3. Drag the `RNZipArchive.xcodeproj` file ove

[2019-04-24 13:03] plrthink commented on #128
@josiahallencomm thanks for write this out.

also just run `react-native link` on the project root would also do the same thing which is much simpler

[2019-04-26 08:28] LiamBateman commented on #128
@josiahallencomm - This is great, thank you! This is what we ended up doing (I should have posted back here but forgot!)

@plrthink - That didn't work. I had to follow manual linking instructions. This could be that we are using an ejected expo app but once it was working we didn't dig into it anymore.

[2019-04-26 21:16] hariDasu commented on #76
is there a way to force the app to prevent the phone from entering the background? like if on a loading screen can we force the app to remain open and active?

[2019-04-27 09:07] #128 closed

[2019-04-27 22:00] josiahallencomm commented on #128
@plrthink, I experienced the same as @LiamBateman where running `react-native link react-native-zip-archive` didn't work so I had to link it manually.

I'm guessing it may be something with one of the latest releases of React Native because I have had to do this with a few packages like `react-native-app-auth` due to the same type of error.

[2019-04-28 02:18] plrthink commented on #128
@josiahallencomm ok, would check it with the latest version of react-native, thanks for pointing out.

[2019-04-28 02:20] plrthink commented on #124
这个文件就是 react-native-zip-archive 本身，你可以尝试 `react-native link react-native-zip-archive`，或是按照文档里描述的 manually linking 来 link 这个库。

[2019-04-28 02:22] plrthink commented on #125
Yes, it's a not implemented feature. Perhaps we can make it, PRs are open.

[2019-05-06 10:43] sunnylqm opened #129 "Typescript support (index.d.ts)"

[2019-05-07 09:22] #129 closed

[2019-05-08 00:09] dominicsavb opened #131 "where is the result of unzip?"
Hi,

I already success to unzip. but i don't see any file at target directory?

where is the result file?

Thank you

[2019-05-16 15:47] kaaoo opened #132 "Build fails with Undefined symbols for architecture x86_64"
Here is error that I got:
`Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_RNZASSZipArchive", referenced from:
      objc-class-ref in libRNZipArchive.a(RNZipArchive.o)
ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)`

Can anybody explain what does it mean? and how to handle this?
Many thanks)

[2019-05-16 15:56] kaaoo commented on #132
Well, seems like there was some issue with RN cache, cleaning it helped (ios/build folder). Closing issue.

[2019-05-16 15:56] #132 closed

[2019-05-23 05:55] nick-creston opened #134 "[Android] Fixing a Zip Path Traversal Vulnerability"
Hey. I received a message in the Google Play console:
![alert](https://user-images.githubusercontent.com/8370648/58228479-afb15180-7d50-11e9-9930-cbdf07061eb4.png)

How to fix: https://support.google.com/faqs/answer/9294009

I'm not sure, but a possible fix is here:
https://github.com/mockingbot/react-native-zip-archive/blob/master/android/src/main/java/com/rnziparchive/RNZipArchiveModule.java#L24

[2019-05-24 03:26] kevinkevw commented on #134
I received the same security alert as well.

[2019-05-24 06:08] sbayd commented on #134
+ 1, Same security Alert.

<img width="500" alt="Screen Shot 2019-05-24 at 09 07 10" src="https://user-images.githubusercontent.com/6469914/58306188-6968fa80-7e03-11e9-8387-c3abe137996a.png">

[2019-05-24 09:21] punjasin commented on #134
same as well

[2019-05-24 09:41] plrthink commented on #134
Thanks for reporting, would solve this ASAP

[2019-05-24 09:57] mts88 opened #135 "React native 0.59"
Hi, this is not a bug report. React native 0.59 use react "react": "16.8.6", and in your version 4.0.0 (for RN >=0.58) you limit in package.json version of react.
Can you upgrade? This upper bound create some problem in compiling. Thanks.

[2019-05-24 10:28] sbayd commented on #134
@plrthink Thank you for all your efforts and attention.

[2019-05-24 17:46] plrthink commented on #134
Could you please try the code on the master to see if it would solve the problem? thanks to the PR opened by @ratson, we seems to fix this but still need to verify it.

[2019-05-25 02:33] plrthink commented on #135
Sure, we should update it, will do it ASAP.

[2019-05-25 02:41] plrthink commented on #131
Can you show the snippet you're using? Maybe it is a bug, it would easier to fix if provided the context.

[2019-05-27 13:08] punjasin commented on #134
@plrthink i try change the my lib according to ur commit and launch to internal test still have this issue warning

[2019-05-30 15:10] plrthink commented on #135
The updates have been pushed on the master branch, and it would be released in the next week.

[2019-05-30 15:10] #124 closed

[2019-05-30 15:14] plrthink commented on #123
Thanks for the nice work of @brystfire08, it has been implemented on the Android in this PR https://github.com/mockingbot/react-native-zip-archive/pull/133, but still not available on iOS. So I would be going to try this in this weekend and hopefully it would be released on the next week. You can track this progress in this opening PR.

[2019-05-30 15:52] plrthink commented on #134
Double check this issue and yeah we still have the problem. I would fix this before this weekend.

[2019-06-04 12:39] plrthink commented on #134
Has published a beta version to fix this, please reinstall this using `yarn add react-native-zip-archive@beta` to test it. If the problem is solved then I would publish it as the latest version.

[2019-06-04 21:52] AwanesowArtem opened #137 "is it possible to append file to a archive or archive miltiple files?"

[2019-06-05 02:43] 008v commented on #134
same security alert
![1d6211478ca34774df385eb867506aee](https://user-images.githubusercontent.com/14173882/58926714-aecfe500-877e-11e9-9941-a75b26cf6348.jpg)

[2019-06-05 03:53] plrthink commented on #134
@008v Did you say the same result with the beta version of this package?

[2019-06-06 06:39] punjasin commented on #134
@plrthink tested it fix the problem :)
![image](https://user-images.githubusercontent.com/9058090/59011984-77396980-8860-11e9-95e0-34dad7c3184c.png)

[2019-06-06 14:16] plrthink commented on #134
@punjasin cool!!! would release it after a few tweaks.

[2019-06-08 11:13] plrthink commented on #137
No, we have implemented this yet, but it seems could be supported technically. Also, PRs are welcome.

[2019-06-08 11:14] plrthink commented on #135
Has been updated with 4.0.3 published.

[2019-06-08 11:14] #135 closed

[2019-06-08 11:14] #134 closed

[2019-06-08 22:45] AwanesowArtem commented on #137
But in java code I saw it's possible to archive multiple files or whole folder, this already implemented, correct?

[2019-06-09 15:56] plrthink commented on #137
Yes, we can let users zip a single file or a folder.

[2019-06-09 21:34] lapsio commented on #123
Is it merged already? I need this feature ASAP otherwise I'll need to encrypt zip with plain AES256 :C

[2019-06-10 02:27] plrthink commented on #123
Sorry, the iOS part is not ready yet, which I'm planning to work on these days. If you're just dealing it on Android, you can use the code in that PR.

[2019-06-18 15:10] unigeniee opened #142 "Could not build module 'Darwin'"
I'm getting this issue

`Could not build module 'Darwin'`

Please help me to fix this.
Also, what is `libz` and how to add it to xcode?
Thank you

[2019-06-19 05:42] #137 closed

[2019-06-20 05:48] ramya123coder commented on #123
When will the next version be released? Just wanted to know as I have already used the code in PR#133  but thought it would be cleaner if I can update the library version.

[2019-06-20 23:32] plrthink commented on #123
@ramya123coder All the relative code has been merged into master and intended to be shipped today.

[2019-06-21 01:51] plrthink commented on #123
Thanks to the work in https://github.com/mockingbot/react-native-zip-archive/pull/133. This functionality is supported in the latest release. Details in https://github.com/mockingbot/react-native-zip-archive/releases/tag/4.1.0.

[2019-06-21 01:51] #123 closed

[2019-06-21 01:51] plrthink commented on #112
Got SSZipArchive update to 2.2.2 in the version 4.1.0.

[2019-06-21 01:51] #112 closed

[2019-06-25 13:52] ganmor opened #145 "Path Traversal vulnerability."
We recently recieved the following warning on google play

Security alert
Your app contains an unsafe unzipping pattern that may lead to a Path Traversal vulnerability. Please see this Google Help Center article to learn how to fix the issue.
Vulnerable locations:
com.rnziparchive.RNZipArchiveModule$2.run

https://support.google.com/faqs/answer/9294009

[2019-06-26 10:13] sinodko opened #146 "iOS build is failing"
Hello I'm getting this error while trying to build an ios app.

[code]

Versions:
[code]

The package is installed via cocoapods using following line:

```pod 'RNZipArchive', :path => '../node_modules/react-native-zip-archive'```

Also enclosing screenshot from xCode build

<img width="271" alt="Screenshot 2019-06-26 at 12 14 59" src="https://user-images.githubusercontent.com/33039909/60171987-0a3

[2019-06-26 10:15] sinodko commented on #146
Also enclosing screenshot from xCode build

<img width="271" alt="Screenshot 2019-06-26 at 12 14 59" src="https://user-images.githubusercontent.com/33039909/60171987-0a384480-980c-11e9-8f5d-8f96a4fa2602.png">

[2019-06-26 10:31] sinodko commented on #146
Enclosing another images from xCode build process...

<img width="1317" alt="Screenshot 2019-06-26 at 12 30 23" src="https://user-images.githubusercontent.com/33039909/60173062-3fde2d00-980e-11e9-93b5-3f1a563cc4ab.png">

<img width="1317" alt="Screenshot 2019-06-26 at 12 30 33" src="https://user-images.githubusercontent.com/33039909/60173064-4076c380-980e-11e9-891e-5ee72c3a2d7c.png">

[2019-06-26 10:43] SDxBacon commented on #146
It looks like the CMSEncoder.h and CMSDecoder.h are missing in Security.framework.

[2019-06-26 10:45] sinodko commented on #146
Hello SDxBacon. How to do with it? How can i solve it please?

[2019-06-26 12:26] plrthink commented on #145
I think version 4.1.0 has already solved this issue, so please try update to it first. Details in https://github.com/mockingbot/react-native-zip-archive/issues/134.

[2019-06-26 12:33] plrthink commented on #146
Yes, you should add Security.framework to your targets as described in the release note https://github.com/mockingbot/react-native-zip-archive/releases/tag/4.1.0.

Hope this tutorial http://docs.onemobilesdk.aol.com/ios-ad-sdk/adding-frameworks-xcode.html would help you out.

Also, we should fix it in the podspec which would let the cocoapod do it for you. Would include in the next release.

[2019-06-26 12:44] SDxBacon commented on #146
@sinodko I just ran into the same problem like you before I get out off my office. I don't know how to fix it yet :(

@plrthink I do link iOS SDK 12.1 Security.framework into my Expo detached project, but I got the same problem with sinodko. I try to take a look at Security.framework that be linked into my project with XCode. I can't find
Security/CMSEncoder.h and Security/CMSDecoder.h. Any idea h

[2019-06-26 12:56] sinodko commented on #146
@plrthink I've tried add Security.framework manually but problem still persists :(

[2019-06-27 09:01] SDxBacon commented on #146
I find a workaround to solve errors while building , but I got no time to test it on real iPhone device. Followings are what I have tried, @sinodko could you please take some time to give it a try and share the result? It will be very grateful :)

My Xcode shows that the error `Implicit declaration of function {functionName } is invalid in C99` on funcitons like `CMSEncodeContent`, `CMSDecoderCrea

[2019-06-27 09:26] sinodko commented on #146
I was able to build & run the app within xCode but `react-native run-ios` is still yelling the same error... Anyways, when I run the app from xCode I'm unable to unzip files :/

[code]

this is a log from debugging console

[2019-06-27 10:27] SDxBacon commented on #146
Hummm...  so, it looks like the `mz_crypt_sign` and `mz_crypt_sign_verify` are both important to unzip archive. I do not have too many experience on developing ios application, but I will keep trying. Hopes we can conquer in the near future :'(

[2019-06-28 06:41] SDxBacon commented on #146
Hi @sinodko,

I am facing the same error `Error: unable to unzip` like you when I start a expo project to test this library. Then I spent couple hours to trace the error, I think I have located where the problem is.

Everytime I called `unzip` method I got error value `-102` returned and `-102` means `MZ_PARAM_ERROR` which been defined in `minizip/mz.h`. Then, I focus on tracking which step re-ass

[2019-07-01 05:18] plrthink commented on #146
Could you please provide a minimum project to reproduce this error? Actually, I haven't tested this with either expo or cocoapods setup, so a sample app would help to get into the context to fix this.

[2019-07-01 08:43] sinodko commented on #146
@plrthink I can confirm that unzipping is working with 4.1.1 release :) Thank you so much! And feel free to close this issue :) Thank you so much!

[2019-07-01 09:52] neemssoni commented on #134
After upgrading to Version 4.0.3 and submitting the apk to Google Play Console, still I am getting the warning. You can see the release date is June 29, 2019. [
<img width="768" alt="Screenshot 2019-07-01 at 3 21 24 PM" src="https://user-images.githubusercontent.com/18548951/60427279-f6c61880-9c13-11e9-95a1-7a2f65cd7318.png">
](url)

[2019-07-01 12:34] ramya123coder opened #148 "Unable to open zipped file with password in ios."
When trying to zipWithPassword files on the  app using this package, I cannot open the resulting zipped file with password . zipWithPassword is working fine in android , the problem exists only when files are zippedWithPassword in IOS device.

[react_zip_withPassword.zip](https://github.com/mockingbot/react-native-zip-archive/files/3345570/react_zip_withPassword.zip)

Unable to expand "react_zip_w

[2019-07-02 01:59] plrthink commented on #134
That's wired, could you please double check in the code in your node_modules whether the version is 4.0.3? If the problem still happens, I would dig into this.

[2019-07-02 02:04] plrthink commented on #146
@sinodko sounds cool! thanks to the PR https://github.com/mockingbot/react-native-zip-archive/pull/147 opened by @mars-lan which solves the issue with cocoapods.

But it seems like @SDxBacon is using ejected expo project, so it may the issue still happens on his side. I would like to let it open until it fixed for him.

@SDxBacon Could you please try the version v4.1.1? Not sure how expo works wit

[2019-07-02 02:17] plrthink commented on #148
TLDR; You should use the third party compress app like The Unarchiver to unzip it on the mac. The native one would not work.

We're using the [AES](https://en.wikipedia.org/wiki/Advanced_Encryption_Standard) on the iOS platform to do the zip which cannot be changed at this time. But the native compress tool on the MacOS doesn't support it yet.

This behavior is inherited from the [SSZipArchive](ht

[2019-07-02 02:26] SDxBacon commented on #146
Hi @plrthink, I just finished my test with v4.1.1 couple minutes ago, and unzipping is working well now!

As SSZipArchive is marked as dependency in cocoapods, unzipping is working even `libz`, `libiconv`, `Security.framework` is not linked in my ejected expo project. Bravo @mars-lan!

I am pretty sure that this issue can be closed now. @plrthink, thank you so much!

[2019-07-02 05:33] #146 closed

[2019-07-02 08:20] neemssoni commented on #134
Yes please check. This is my package.json depedencies snippet :`"dependencies": {
    "@babel/core": "7.1.6",
    "@react-navigation/core": "3.2.0",
    "babel-plugin-transform-remove-console": "6.9.4",
    "concurrently": "4.0.1",
    "lodash": "4.17.11",
    "moment": "2.22.2",
    "native-base": "2.12.1",
    "react": "16.6.1",
    "react-native": "0.57.5",
    "react-native-cached-image": "git

[2019-07-02 08:46] plrthink commented on #145
Oops, it may be caused by the features added after the original fix. Will try to fix it ASAP.

[2019-07-02 08:49] plrthink commented on #134
@neemssoni I guess that it may be relative to the new feature. I would fix this very soon. But please move on to the issue https://github.com/mockingbot/react-native-zip-archive/issues/145 for the further updates.

[2019-07-02 09:05] ramya123coder commented on #148
oh..okay.Thank you.

[2019-07-03 05:39] #148 closed

[2019-07-05 09:26] seightday opened #149 "Support for ZipFile constructor with Charset"
When I unzip a zip file which contains chinese charater ZipEntry will fail with Failed to extract file MALFORMED[1].
I have to modify the source code, change  ZipFile zipFile = new ZipFile(zipFilePath) to  ZipFile zipFile = new ZipFile(zipFilePath,Charset.forName("GBK")), then it works.

[2019-07-06 02:33] jeffmon opened #150 "❌ duplicate symbol error, CodePush also installed"
# React Native Info
[code]

# react-native-zip-archive version
`4.1.1`

# Issue

Unable to compile on iOS due to duplicate symbols:

![Screen Shot 2019-07-05 at 4 33 06 PM](https://user-images.githubusercontent.com/18548300/60750323-9819db00-9f42-11e9-86b4-7b3b7ec275b6.png)

We have CodePush installed which might be causing this. Any idea on what to do next?

[2019-07-08 15:08] plrthink commented on #149
Cool, thanks for reporting the issue. It would be wonderful if you open a PR to address this.

[2019-07-08 15:26] plrthink commented on #145
Could you try to use the 4.1.2-beta.0 to verify it? You can install that with `yarn add react-native-zip-archive@4.1.2-beta.0`

[2019-07-08 15:36] plrthink commented on #150
Yeah, this is because we're both including the ssziparchive into our source code and that would cause the problem. But we still can't find a solution to solve this gently as discussed in

You can temporarily make it work by the steps mentioned in this comment https://github.com/microsoft/react-native-code-push/issues/241#issuecomment-195639258.

[2019-07-08 15:38] plrthink commented on #150
Also would close this issue since we already have an open issue targeting the same problem.

[2019-07-08 15:38] #150 closed

[2019-07-11 12:25] DomiR opened #151 "SSZipArchive as pod dependency"
Is there a specific reason to why you are not depending on SSZipArchive directly in the podfile?

I could open a PR similar to https://github.com/SOUNDBOKS/react-native-zip-archive/commit/d2e1ddc8cd0a88f480acb00f9c99e7bd74448313.

Thanks!

[2019-07-12 05:43] plrthink commented on #151
The reason is that for users who just using react-native in a 'plain' mode, which is without either expo or existing native iOS app, including the source code is the only way I can find for using the SSZipArchive. But this seems out of date since react-native 60 is enabling the cocoapod by default. So I think we can swap out the ssziparchive source code and let the cocoapod resolve it.

But I thin

[2019-07-15 20:13] Corydeeee opened #152 "Cannot unzip on IOS"
I am react 59.3 and am unable to get any IOS files to unzip. I am using react-native-document-picker to retrieve the file location and successfully copy it to DocumentDirectoryPath with RNFS. From there I am copying your exact example for unzip and everytime I get a unzip error.

[2019-07-16 14:49] plrthink commented on #152
Could you upload the file you want to unzip? I can test it locally to see what exactly happened?

[2019-07-17 14:39] Bruno-Furtado opened #153 "Deprecated rnpm for React Native 0.60.3"
I recently upgraded the version of React Native to 0.60.3 and I'm getting the following alert:

[code]

Here is my env:

[code]

Could you release a version with this improvement?

[2019-07-18 01:15] plrthink commented on #153
Sure, actually I'm working on the new version to adopt for React Native 0.60, which would be released at next week maybe.

[2019-07-26 11:28] pedrosimao commented on #72
@itchingpixels I have tried the Cocoapods solution, but I get this error on `pode install`: `CocoaPods could not find compatible versions for pod "CodePush/Base64"`

[2019-07-26 12:06] pedrosimao commented on #17
The issue still hasn't been resolved?

[2019-07-26 13:04] pedrosimao commented on #150
@plrthink I can't use the proposes solution because I am using Cocoapods
Can you please provide me with a quick fix?

[2019-07-26 14:20] pedrosimao commented on #151
I would love to see this implemented too. For now I am using the dirty workaround of deleting SSZipArchive from CodePush... I had to delete both libs from my Cocoapods though...

[2019-07-26 15:02] pedrosimao commented on #150
In fact this solution does not work for me. As I can build but when I tried to archive I got this error: `CompileC /Users/pedro1/Library/Developer/Xcode/DerivedData/monspecialisteauto-bwqlznaolophgmemfgpwxzlxwddv/Build/Intermediates.noindex/ArchiveIntermediates/monspecialisteauto/IntermediateBuildFilesPath/CodePush.build/Release-iphoneos/CodePush.build/Objects-normal/armv7/CodePushPackage.o CodePu

[2019-07-26 15:21] pedrosimao commented on #151
Why don't you implement the same solution as here: https://github.com/SOUNDBOKS/react-native-zip-archive/commits/master

[2019-07-26 15:41] plrthink commented on #151
@pedrosimao Yeah, I'm working on this these days and actually it works out on my local machine. And I'm still making changes to the Android side to upgrade it with react-native 60. So maybe I can ship it on the next few days.

[2019-07-26 15:45] plrthink commented on #150
@pedrosimao Can you provide more details on your usage? Are you using react-native along with the native code or solely with react-native 60?

[2019-07-26 16:12] pedrosimao commented on #150
@plrthink Thanks for your fast support.
I ended up deleting my Cocoapods and installing the library manually, so I could apply the fix you suggested on CodePush repository some years ago. It ended up working, but it is not ideal because of side effects on every new `npm i`... I am on react-native `0.59.9`. I will just wait for the cocoapods solution and upgrade it.

[2019-07-27 01:15] mars-lan commented on #153
Any update @plrthink? Thanks.

[2019-07-28 07:15] plrthink commented on #145
This issue should be solved with the release of 4.1.2. So I'm going to close this.

[2019-07-28 07:15] #145 closed

[2019-07-28 07:24] #131 closed

[2019-07-28 07:27] plrthink commented on #131
Just close this since not active, but feel free to reopen it.

[2019-07-28 16:51] plrthink commented on #153
@Bruno-Furtado @mars-lan Just published the alpha version 5.0.0 to test, could you please try that and if it works I would release the updates ASAP.

[2019-07-28 16:53] plrthink commented on #153
Sorry for not mentioned, you should install the alpha version via '5.0.0-alpha.0'.

[2019-07-28 16:55] plrthink commented on #151
@pedrosimao @DomiR I have just published the version 5.0.0-alpha.0, which deletes the self-contained SSZipArchive. Please test it out on your use cases to see if it solves the problems. Any feedback towards this change is welcome.

[2019-07-28 17:01] plrthink commented on #72
Hi, folks,  I just release the alpha version, 5.0.0-alpha.0, which utilize the react-native@^0.60.0 to resolve SSZipArchive via cocoapods. That is to say, we can finally fix this problem in a standard way.🥰

Please test it on your use cases to see if it works. Also to remind, these changes requires react-native's version is at least 0.60.0.

[2019-07-28 17:08] plrthink commented on #142
Sorry for the late response. Have you already figured this out?

For the first question. Actually, I don't know what happened and I can't reproduce this. So an example which can trigger the problem would be helpful.

And you can follow this tutorial http://docs.onemobilesdk.aol.com/ios-ad-sdk/adding-frameworks-xcode.html  to add the `libz` to your target.

[2019-07-28 19:18] mars-lan commented on #153
The warning message is gone using `5.0.0-alpha.0`. Thanks, @plrthink.

[2019-07-31 01:44] sentry0 opened #156 "Unable to zip (iOS)"
react-native 0.60.4
react-native-zip-archive 4.1.1

Works great on Android but I keep seeing the message "unable to zip" on iOS.

Anyone else having this issue?

`async backup() {
        let result = {
            backupSuccess: false,
            backupName: null,
            error: null
        };

        try {
            const now = moment().format('YYYYMMDDhhmmss');
            const backup

[2019-07-31 02:01] #156 closed

[2019-07-31 02:01] sentry0 commented on #156
Error on my part...lib works great :P

[2019-07-31 14:34] plrthink commented on #156
Also, you should use version 5.0.0-alpha.0 of this package to adopt for react-native 60.

[2019-08-02 10:42] liamjones opened #157 "4.1.2 release missing from npm"
I see 4.1.2 exists in the releases section on github but not npm. Any chance 4.1.2 could be published to npm too please?

[2019-08-03 03:31] mars-lan commented on #153
Ping @plrthink could you cut a release for 5.0.0?

[2019-08-03 07:37] plrthink commented on #157
Oops, sorry about that. I have just published 4.1.2 version on npm.

[2019-08-03 07:37] #157 closed

[2019-08-03 07:42] plrthink commented on #153
@mars-lan Actually I'm planning for taking a few days before the release since it introduces the breaking change. And I'm still gathering feedback about the alpha version to ensure it works well and draft the new doc to reflect the changes. It would be longer than a couple of days I suppose.

[2019-08-03 10:01] ahmadqwer opened #158 "iOS : Unable to Unzip"
i'm trying to unzip a file on iOS, it is working fine on Android, but when i tried it on iOS the following error appear
`unable to unzip`
i added `libz.tbd` `libiconvv.tbd` and `Security.framework` to the project libraries but i got the same error,

the following is my code
[code]
`react-native: 0.57.8`
`react-native-zip-archive: 3.0.1`

Thank you.

[2019-08-03 12:35] mars-lan commented on #153
Makes sense. Will await eagerly :)

[2019-08-03 13:38] plrthink commented on #153
@mars-lan and you can track the progress in this PR https://github.com/mockingbot/react-native-zip-archive/pull/155.

[2019-08-03 16:15] plrthink commented on #158
Could you please provide a reproducible app for demonstrating this problem? I just tried the extract version you mentioned on iOS 12.4 simulator but it works as expected.

[2019-08-04 06:44] ahmadqwer commented on #158
@plrthink i tried it on iOS 10.2 and iOS 12.1 but it doesnt work.

[2019-08-04 11:04] plrthink commented on #158
Can you provide the zip you’re working on? Maybe it due to its format?

ahmadqwer <notifications@github.com>于2019年8月4日 周日14:44写道：

--
Perry Poon

[2019-08-04 12:42] ahmadqwer commented on #158
Here you go,
https://we.tl/t-KoihTg9w0a
[https://prod-cdn.wetransfer.net/assets/wt-facebook-568be8def5a86a09cedeb21b8f24cb208e86515a552bd07d856c7d5dfc6a23df.png]<https://we.tl/t-KoihTg9w0a>
book_203.zip<https://we.tl/t-KoihTg9w0a>
1 file sent via WeTransfer, the simplest way to send your files around the world
we.tl

it just a compressed file that contains an EPUB files.

the extracting is working

[2019-08-05 06:50] liamjones commented on #157
No worries, thanks for the quick fix 👍

[2019-08-06 16:19] lizilong007 commented on #128
@LiamBateman excuse me. `react-native link react-native-zip-archive`why is invalid?

[2019-08-06 16:21] LiamBateman commented on #128
Not sure, we were using an ejected expo app so the only way we got it to work was manually linking as above.

[2019-08-07 01:54] plrthink commented on #128
Things are getting better with react-native 60. Since it embraces the cocoapods, all you need to do is run `pod install` in the ios folder, and it will getting auto-linked.  You can try this package at `5.0.0-alpha.0` on react-native 60 to test with your use case.

[2019-08-10 15:30] ImHeXin commented on #149
I opened a PR about charset @plrthink @seightday
Welcome to give some advice！

[2019-08-12 03:09] bimbox-open commented on #149
Hi, can you update project to next version 4.1.3 @plrthink

[2019-08-12 04:57] plrthink commented on #149
@bimbox-open just shipped 4.1.3 with this fix.

[2019-08-12 04:57] #149 closed

[2019-08-12 12:14] maximilianoforlenza opened #160 "Error when compile android"
Hi! I have an error when run react-native run-android
[code]
* React-native: v0.57.8,
* React: v16.7.0,
* React-native-zip-archieve: v4.1.2

Can anybody help me?

Thanks

[2019-08-12 12:44] maximilianoforlenza commented on #160
I've upgraded in my build.gradle buildToolsVersion to 28.0.3

[2019-08-12 12:44] #160 closed

[2019-08-12 13:25] kenyuwin opened #161 "Wrong folder structure after used zipWithPassword on Android"
When I zip the folder "RootFolder" to "RootFolder.zip" using zipWithPassword, there is a wrong structure in the zip file. If only using zip, there is no problem.

**Before zip:**
RootFolder
---|__Folder
--------|__SubFolder
---------------|__1.txt
---------------|__2.txt

**After zipped:**
RootFolder.zip
---|__Folder
---|-----|__SubFolder
---|-----------|__1.txt
---|-----------|__2.txt
---|__SubFo

[2019-08-12 16:08] BeauCarrel opened #162 "iOS, no progress calls"
Hello, first off thanks for this great package, It has helped me lots.

I just have a small problem, I can see that it has been an issue before and has been resolved by updates, but it seems broken again in the latest version.

I am developing an application for iOS only, which involves de-zipping a 7GB file. That works perfectly but I cannot get the progress callback to work, the callback is invo

[2019-08-13 06:46] plrthink commented on #161
I assume you're running on Android, is this correct?

[2019-08-13 07:04] kenyuwin commented on #161
Yes

[2019-08-13 09:07] kenyuwin commented on #161
For my finding, the reason should be this function in RNZipArchiveModule.java
[code]

This code added additional folders into the zip file.
`fileList.addAll(getSubFiles(file, isContainFolder));`

[2019-08-13 09:33] plrthink commented on #161
Yeap, the reason is they use different implementation under the hood. The `zip` method is using a homebrewed version which needs to include all its subfiles and folders, while `zipWithPassword` utilizes the [zip4j](https://github.com/srikanth-lingala/zip4j) which doesn't need that shape of data.

It would be great if you can open a PR to fix this by making use of zip4j behind the `zip` method as `

[2019-08-14 07:02] plrthink commented on #162
Hi, @BeauCarrel

Thanks for reporting, I confirmed this issue is caused by updating the underlying library 'SSZipArchive' which introduces the changes the way how progress emitter works. I would plan to fix this in weeks.

[2019-08-14 07:17] plrthink opened #163 "Make error message more useful"
Currently, the error messages are useless, especially on iOS. This makes hard to debug.

Actually, we should make the error message returned by SSZipArchive transparently to users.

[2019-08-14 11:54] DaBs commented on #151
Wonderful to hear that the fix worked! We originally forked and never did a pull request, simply because I wasn't sure if it would work with your intended use-case, but great that it's in there!

[2019-08-14 12:19] BeauCarrel commented on #162
Hi @plrthink
Thank you for the reply, good to hear you've found the source of the problem!
I looked at the commit history, and I've rolled back to version 4.0.3 before the update of 'SSZipArchive' and I can confirm that the progress update works.

[2019-08-15 08:12] #161 closed

[2019-08-15 11:39] quarryman opened #165 "Is it possible to pass array of filepaths instead of directory for zip?"
Hi
I have a use-case when I want to zip certain  files from directory only.
Does api supports this use-case?

[2019-08-15 15:39] plrthink commented on #165
No, not directly. I think you can iterate on the array for the use case

[2019-08-16 02:01] #165 closed

[2019-08-17 15:39] plrthink commented on #163
solved by commit https://github.com/mockingbot/react-native-zip-archive/commit/600e0ba805f22b7780f4ed05bf5a1ddbff668f2a

[2019-08-17 15:39] #163 closed

[2019-08-17 16:03] plrthink commented on #158
I just published the version 4.1.4 which improve the error message. Using that, I have tested with your zip file and the error says 'Error: crc check failed for file'.

[2019-08-18 04:21] plrthink commented on #152
You can now install the version 4.1.4 which improves the error message on iOS and you can see the details about the error. That would be helpful to fix the problem.

[2019-08-18 09:13] ahmadqwer commented on #158
@plrthink Thank you very much for your reply,
it turned out that the file compressed has an issue with it's compressing, on the backend i get the compressed file using `adm-zip` with this issue, i just fixed it and Unzipping is working now on iOS.

Thank you Again  :)

[2019-08-18 09:13] #158 closed

[2019-08-18 16:16] ahmadqwer opened #166 "RNZipArchive.unzip got 5 arguments, expected 4"
Hello,
After updating my react-native version from 0.57.8 to 0.59.10 to be able to get 64-bit APK, the library worked but i had to update it from `react-native-zip-archive@3.0.1` to `react-native-zip-archive@4.1.4` to Fix zip traversal vulnerability.
but now when in try to unzip i got the below error on Android.
`RNZipArchive.unzip got 5 arguments, expected 4`

below is the unzipping code
[code]

[2019-08-19 01:48] plrthink commented on #166
That's wired since I have double-checked the signature of the method and they indeed match each other.

Did you try to clean up all the things like stop builds and start again? Maybe related to the cache.

[2019-08-27 09:08] plrthink commented on #162
Hi, @BeauCarrel

I just opened the PR to address this issue at https://github.com/mockingbot/react-native-zip-archive/pull/167. Could you please test it with the version `4.1.5-beta.0` on the npm? Would do the release if it works on your usecase.

[2019-08-29 10:07] plrthink commented on #162
Closed with 4.1.5 shipped to npm, but feel free to reopen it if still have issues.

[2019-08-29 10:07] #162 closed

[2019-08-29 13:33] plrthink commented on #153
closed since the fixes have been released via 5.0.0

[2019-08-29 13:33] #153 closed

[2019-08-29 13:34] plrthink commented on #151
Closed since the fixes have been released via [5.0.0](https://github.com/mockingbot/react-native-zip-archive/releases/tag/5.0.0)

[2019-08-29 13:34] #151 closed

[2019-08-29 13:42] #72 closed

[2019-08-31 12:32] ammarahm-ed opened #170 "Path Traversal vulnerability: Security Alert Received on Google Play Console"
We recently recieved the following warning on google play developer console:

Security alert
Your app contains an unsafe unzipping pattern that may lead to a Path Traversal vulnerability. Please see this Google Help Center article to learn how to fix the issue.
Vulnerable locations:

`com.rnziparchive.RNZipArchiveModule$2.run`
https://support.google.com/faqs/answer/9294009

react-native-zip-archiv

[2019-09-06 12:12] learnyst commented on #170
We are also getting this warning.

[2019-09-06 12:13] learnyst commented on #145
@plrthink this issue is not yet resolved. After updating the lib to 4.1.2 we are still getting the issue

[2019-09-06 13:06] plrthink commented on #170
I'm working on this but actually have no idea since we do prevent this problem in [these lines of code](https://github.com/mockingbot/react-native-zip-archive/blob/master/android/src/main/java/com/rnziparchive/RNZipArchiveModule.java#L475) and also passed the test with the file in [this repo](https://github.com/snyk/zip-slip-vulnerability/tree/master/archives). It would be much appreciated if some

[2019-09-09 02:28] thewisefarmerr commented on #170
Hello there, thank you for your reply, I think this problem is not related to path traversal, instead it appears when your app crashes on older versions of android before android 7.0. The reason for it is that older versions of android do not support `java.util.zip.ZipFile`. I think the library is unable to calculate the size of the zip file `getUncompressedSize(String zipFilePath, String charset)

[2019-09-10 16:20] plrthink commented on #170
@thewisefarmerr thanks for your investigating, this would be much clear on what's going wrong here. I would fix this in this week.

[2019-09-11 15:36] plrthink commented on #170
After digging into this I just remember that this actually getting fixed in the version 4.1.5 with this PR https://github.com/mockingbot/react-native-zip-archive/pull/168. So please try the 4.1.5 or higher to see whether it works or not.

[2019-09-13 11:35] plrthink commented on #170
@SimonSimya 😂😂. Not really sure how Play Store checks for this issue. But I indeed test against the archive with the problem and it throws as expected. Maybe I need report this to the Play Store to see if there’s something we can do better.

[2019-09-16 12:57] darth-veitcher commented on #152
Having a similar(?) issue using a known good .zip file. Only getting `Error: failed to open zip file` from the library. Is there any way to turn on more verbose output?

[2019-09-17 03:52] plrthink commented on #152
@darth-veitcher can you update the package to the 4.1.4 or higher? You would receive a more verbose error message for debugging.

[2019-09-20 03:33] xclidongbo opened #172 "Cannot read property 'unzipAssets' of undefined"
platform: Android,
version:    "react-native-zip-archive": "4.1.5",
[code]

[2019-09-20 06:34] xclidongbo commented on #172
Readme.md is for Version 6.0, not for under Version 6.0.

[2019-09-20 06:34] #172 closed

[2019-09-22 11:36] darth-veitcher commented on #152
I'm running `^5.0.0` by the looks of things in my package.json. The output I get is as follows:

[code]

[2019-09-22 12:16] darth-veitcher commented on #152
To clarify, I'm attempting to download a file and then extract it. Example code below.

[code]

[2019-09-22 20:08] darth-veitcher commented on #152
Doing a little more digging this might be to do with file permissions perhaps of the downloads created by Expo? Tweaking the code to use `react-native-fetch-blob` as opposed to the Expo FileSystem approach results in a successful unzip of the test file.

[2019-09-23 15:38] plrthink commented on #152
@darth-veitcher sorry for the late response, and yes that seems like the problem the creation of the file, not with unzipping progress.

[2019-09-23 18:45] darth-veitcher commented on #152
No worries. Might be good to somehow test/catch for this and raise an error though as the provided exception message wasn’t very descriptive?

[2019-09-24 01:58] xclidongbo opened #173 "unzipAssets does not work on android platform."
react-native-cli: 2.0.1
react-native: 0.59.10
"react-native-zip-archive": "4.1.5"

[code]

Error:
[code]

[2019-09-24 09:17] bimbox-open commented on #173
@xclidongbo Hi there! I found this error, too. I solved by this way: use method 'copyFileAssets' on [https://github.com/itinance/react-native-fs/](react-native-fs).
execute these below: (RNFS === react-native-fs)
Step1: RNFS.copyFileAssets(`${androidAssetsUri}`, `${targetPath}/tmp`)
Step2: unzip(`${targetPath}/tmp`, documentPath),
Step3: RNFS.unlink(`${targetPath}/tmp`)

[2019-09-24 10:04] xclidongbo commented on #173
@bimbox-open  Good job!

[2019-09-24 10:04] #173 closed

[2019-09-25 06:46] plrthink commented on #152
@darth-veitcher Actually we're bypassing the error message from the underlying package(SSZipArchive on iOS), so maybe there's a way to get a more verbose version of the errors.

Will search for that. Also, PRs are welcome!

[2019-09-25 07:24] plrthink commented on #173
This maybe caused by the permissions. I would take a look ASAP.

[2019-09-27 23:23] xclidongbo opened #174 "关于ziparchive和codepush的依赖冲突"
react-native: 0.59.10
platform: ios
"react-native-zip-archive": "4.1.5",

[code]

[2019-09-28 04:18] plrthink commented on #174
这个是因为我们都复制一份 SSZipArchive 的源码在自己的包中。

react native 在 60 之后使用 CocoaPod 作为包管理，react-nativeo-zip-archive 也做了相应的适配，理论上讲如果 react-native-code-push 也做了，那么都升级到相应的版本就可以解决问题。

如果 react-native-code-push 还没有，或是升级对你来说也是不可采用的方式，那么可以使用这个方法来暂时解决 https://github.com/microsoft/react-native-code-push/issues/241#issuecomment-195639258。

[2019-09-28 09:11] xclidongbo commented on #174
@plrthink 我试一下.非常感谢能分享这么棒的组件.哈哈. 我现在不打算升级60.

[2019-09-29 03:58] xclidongbo commented on #174
试了下, 果然没啥卵用.

[2019-10-02 11:19] ZodiacGemini commented on #170
I know that this might be worked on already, but wanted to add that I'm also getting the warning on Google Play for both apps I have published. Both using version 5.0.0.
Have you gotten any more information about what the issue might be :)?

[2019-10-02 13:55] learnyst commented on #170
We have submitted the app to play store with latest version. Still the issue exists

[2019-10-02 15:26] plrthink commented on #174
呀，抱歉，这几天国庆节还无法深挖这个问题，等节后第一时间看下。

以及，如果有一个可以复现的仓库，加上复现的操作说明，可以帮助我们更快定位问题。

[2019-10-02 15:34] plrthink commented on #170
Still has no idea by myself. The next step is contacting Google Play to ask for help.

But I'm currently on the vacation so don't have enough time to dig into. Already mark this as the Highest Priority and will continue to work on this when coming back.

[2019-10-04 19:11] esutton opened #175 "Add support for zipping multiple files from target path list"

[2019-10-04 19:12] #175 closed

[2019-10-08 02:32] xclidongbo commented on #174
额. 这个很容易复现. 安装环境:
react-native:0.59.10
react-native-code-push: 5.7
react-native-zip-archive: 4.1.5

模拟器运行就会报多符号错误:
[code]

[2019-10-08 03:53] xclidongbo commented on #174
可能我是错误的. 今天按照你给我的方法,又可以正常运行了. 今天再试试.如果OK,我就关了这个issue了.

[2019-10-09 01:33] xclidongbo commented on #174
先关了. 你给的方法是可行的.

[2019-10-09 01:33] #174 closed

[2019-10-15 14:14] plrthink commented on #142
Closed due to being not active for a while, but feel free to reopen it if the issue is still bothering you.

[2019-10-15 14:14] #142 closed

[2019-10-15 14:15] plrthink commented on #152
Closed due to being not active for a while, but feel free to reopen it if the issue is still bothering you.

[2019-10-15 14:15] #152 closed

[2019-10-15 14:15] plrthink commented on #166
Closed due to being not active for a while, but feel free to reopen it if the issue is still bothering you.

[2019-10-15 14:15] #166 closed

[2019-10-21 12:36] ospfranco commented on #151
5.0.0 is only compatible with RN 0.60+ right? I cannot update to 0.60 because it breaks compatibility with a bunch of other libraries, is there any other way to make it work on older RN versions?

[2019-10-22 02:16] plrthink commented on #151
Yes.

What's your main purpose in solving SSZipArchive via cocoapod? Old versions of the package use the self-contained copy of SSZipArchive which would work in most scenario, what's the problem are you facing? This would help me to come up with a suitable solution for you.

[2019-10-24 02:10] SDxBacon commented on #170
The warning from Google Play Console shows that the vulnerability is detected from `com.rnziparchive.RNZipArchiveModule$2.run`. However, all of unzip API that provided in this library have already guarded by running `ensureZipPathSafety()` method. The only `run()` method of a `Runnable` instance that is not executing `ensureZipPathSafety()` is inside `processZip()` method.

Thus, I try to make a s

[2019-10-24 07:10] plrthink commented on #170
@SDxBacon Cool, but dont have time to review it now, would do that ASAP.

It's totally fine to open a PR about this which would also bring others in to improve your solution.

[2019-10-25 06:55] jeffmon commented on #162
@plrthink

I updated `react-native-zip-archive` from `4.1.1`to `4.1.5`to hopefully get the progress working and now I'm getting this error:

![Screen Shot 2019-10-24 at 8 52 48 PM](https://user-images.githubusercontent.com/18548300/67549595-5901c800-f6a0-11e9-99f6-b3e01588c127.png)

I'm using the exact same code from `4.1.1`:

      unzip(`${DATABASE_DIR}/database.zip`, DATABASE_DIR).then(() =>

[2019-10-26 14:22] plrthink commented on #170
@SDxBacon Yes, that could be a reason. Maybe we should check for it at any level of the folders.

I do send the email for the details of the issue to the Google Play Console but with no responses. Really wish we could find the test cases(maybe it is opened somewhere?) then we would clearly know how to fix this.

[2019-10-28 19:48] jeffmon commented on #162
@plrthink Sorry for the late response, but yes, I clear the cache, clear `node_modules` and it all leads to that same error.

[2019-10-29 03:14] plrthink commented on #162
@jeffmon That's wired, just test that on our example app but don't face the problem. Could you please attach a project that can reproduce this issue?  That would be much helpful to see what's happening.

[2019-10-29 10:33] ericluong commented on #152
@darth-veitcher  I was facing the same issue when trying to unzip a file that was downloaded with Expo [FileSystem API](https://docs.expo.io/versions/latest/sdk/filesystem/) in a bare workflow.

This was caused by the API convention :

For example, Expo documentDirectory is something like `file:///path/to/my/document/` whereas RNFS documentDirectory is `/path/to/my/document`.

I solved it by trimm

[2019-11-08 16:16] sidhiartha commented on #132
Hi @kaaoo ,
I just got this error right now.
can you explain which build folder we need to clean?

I try to clean build folder from XCode, either with `option` or not,
but the error won't disappear.

I look on `rootProject/ios` but there are no build folder in it.

Thank you in advance

[2019-11-11 07:24] kaaoo commented on #132
Hi @sidhiartha, In my case I just removed ios/build folder and ios/Pods folder (don't forget to run pod install after that). Also, I would suggest to remove node_modules and rebuild again.

[2019-11-12 05:08] sidhijakpat commented on #132
Hi @kaaoo ,
it have been working after restarting my computer, after deleting `ios/build`.

Maybe on my case, there are some cache from XCode

Thank you for your information.

[2019-11-12 21:00] acb opened #176 "Is it possible to unzip into a string (rather than a file)?"
I'm looking into bundling a significant dataset into my app and want to compress it so it doesn't inflate my app size too much.

Is it possible to use this lib to unzip a file directly into a string, rather than having it output to a file in the filesystem?  It would be great to be able to just unzip some data into a component so I can reference it rather than unzip to a file, read that in, and th

[2019-11-13 01:50] plrthink commented on #176
I'm afraid of we can't do this since all the implementation details are targeting the file system. If your concern is all about not deleting the uncompleted downloads when the user wants to cancel that, maybe we can do something to clean it up at the appropriate time. And that would be a great feature.

[2019-11-15 20:16] flashman2 opened #177 "Unzipping without free space. No error! Just hangs..."
I tried it with Downloads directory. When unzipping to a mobile storage without enough space, unzipping just hangs without any errors! I tried this with a big zip files and small amount of available free space for unzipping. App just hangs without any error.
Is there any way to throw an error if unzipping is unsuccessful because of reaching the limit of free space?

[2019-11-16 06:27] plrthink commented on #177
Sorry, we think we haven't implemented this yet, but it's an essential feature, I'm interested to introduce this into the next release.

Also, PRs are welcome!

[2019-11-18 11:07] learnyst commented on #177
@plrthink This is important feature. When is next release planned?

[2019-11-19 02:23] plrthink commented on #177
@learnyst I hope late this month

[2019-11-19 04:09] LuisRodriguezLD commented on #145
I am seeing this issue on version 5.0

[2019-11-19 05:52] plrthink commented on #145
@LuisRodriguezLD Yes, and it still not being fixed. Move to this issue for further updates https://github.com/mockingbot/react-native-zip-archive/issues/170.

[2019-11-22 03:30] learnyst commented on #177
ok..thannks

[2019-12-10 11:51] StanislavMayorov commented on #170
We get the same alert for version 2.2.6 which isn't used in the project at all. It was only installed.

[2019-12-11 06:44] plrthink opened #179 "lean project(move example app from the repo)"

[2019-12-16 22:32] tombombadilom opened #180 "react-native@0.59.9 & react-native-zip-archive : Cannot get property 'compileSdkVersion'"
after a fresh install of react-native-zip-archive@4.1.5 in a project created by react-native-cli :+1:
[code]
I think the problem is that I don't have any ext in my android/build.gradle

[code]
but I have one in android/app/build.gradle:
[code]

[2019-12-18 20:36] betoharres opened #181 "Add support for application/gzip files"
Hello, thanks for creating this library! =]
On Android, I'm not able to extract `.gz` files, I'm getting this error:
[code]

 I've made a sample project showing my problem:
https://github.com/betoharres/rn-zip-archive-problem
Just press the button "PRESS ME".

I'm a big noob on Java and Obj-C, but I'm happy to try to help.
I'm already looking into `RNZipArchiveModule.java` but I have no clue of wh

[2019-12-19 07:15] betoharres commented on #181
Turns out the problem is here:
https://github.com/mockingbot/react-native-zip-archive/blob/master/android/src/main/java/com/rnziparchive/RNZipArchiveModule.java#L30

Because the library is using this package that does not support gzip files, and `.zip` and `.gz` files are different as stated here:
https://stackoverflow.com/questions/13644538/why-zipfilefile-zipfile-open-read-does-not-work-for-gzip

[2019-12-19 17:24] plrthink commented on #181
Thanks for giving so much effort to this project. Thanks!

And yes, we're not supporting gzip format, which is inherited from the underlying libraries(SSZipArchive on iOS and  Zip4j on Android). And also in my personal opinion, it would be better if the project only targets the zip format because the 'do one thing, and do it well'.

For the issue you're facing, I'm afraid that you should find the

[2019-12-19 18:49] betoharres commented on #181
Hi @plrthink ! thanks for reaching out quickly! :) I totally understand you; I'll check those options.

thanks for the recommendation.

[2019-12-19 18:49] #181 closed

[2019-12-23 14:35] ahmedreda97 opened #182 "Is it possible to unzip a folder?"
It seems that i can't unzip a folder only one file, is that right?
I get this error: {FramesToPop: 1, code: "EUNSPECIFIED"}
Example:-
Folder1/Folder2/image.png

[2019-12-24 01:21] plrthink commented on #182
which platform you are working on? Android or iOS?

[2019-12-24 07:22] ahmedreda97 commented on #182
Android

[2019-12-31 13:45] pvroosendaal opened #184 "Progress is not updated"
Hi,

Wonderful utility, working great! However, when I'm zipping a folder with images and video's, the progress is not updated in the subscribe event.
I'm getting progress 0 at start and 1 when it's completed, but nothing in between.

Can you help out?

I'm on version 5.0.0, testing on iPhone X with iOS 13.3

[2020-01-03 11:55] madhums commented on #182
I have the same question for iOS. I have [a zipped file](https://www.dropbox.com/s/a389a9djp4jvapu/tiles.zip?dl=0). When I try to unzip it, I get this error saying:

<summary>Error: failed to open zip file
<details><pre>Error: failed to open zip file
- node_modules/react-native/Libraries/BatchedBridge/NativeModules.js:99:50 in fn
- node_modules/react-native-zip-archive/index.js:12:60 in unzip
* ap

[2020-01-03 14:20] madhums commented on #182
First I ran into this issue https://github.com/mockingbot/react-native-zip-archive/issues/152 after fixing that it seems to work.

[2020-01-07 14:52] plrthink commented on #184
could you show the snippet you're using?

[2020-01-07 15:13] pvroosendaal commented on #184
I have a FileService class with the following function, where `subscribe(callback)` is the subscribe function from this lib.

[code]

And I'm calling that with the following snippet:

[code]

[2020-01-08 04:14] Yashpk789987 opened #185 "Security Alert"
I am getting security alert in google play console on publishing app.
Using "react-native-zip-archive": "^5.0.0"
can u please help me .

You Can tell me any specific version of your package which do not create this security Error

[2020-01-08 05:30] plrthink commented on #185
please track at this thread https://github.com/mockingbot/react-native-zip-archive/issues/170

[2020-01-08 05:30] #185 closed

[2020-01-08 05:33] plrthink commented on #182
@ahmedreda97 can you try the solution on the issue #152 as @macrozone pointed out?

[2020-01-26 20:44] anastely commented on #170
I faced the same issue with V5.0.0!
any updates Guys, My client wanna kill me 😂😂

[2020-01-26 23:49] anastely commented on #170
@plrthink

Here's a link from Google for this issue
https://support.google.com/faqs/answer/9294009

[2020-01-27 07:29] ammarahm-ed commented on #170
@anastely on which android version are you getting this error? any idea?

[2020-01-27 09:13] anastely commented on #170
@ammarahm-ed
 I have android 8 and it's working fine, but this issue appears when I publish the app to Google Play Store!

[2020-01-27 11:13] ammarahm-ed commented on #170
Basically I opened this issue a few months back and I had same problem as yours. For me this issue appeared only android 6.0 <  devices only. I had an android 8.0 and 9.0 device and it worked perfectly but when I put the app on playstore, somebody with older android downloaded my app, I got this security warning from google. Before unzipping this module tries to check the size of the zip file. Old

[2020-01-27 11:21] anastely commented on #170
hmm, yeah I believe you :) So to publish my app should remove this library from my dependency :(?  , And whats function you used?

[2020-01-27 14:10] ammarahm-ed commented on #170
If the developer does not fix this, there wont be any other option left than removing the library as I did.

[unzipModule.zip](https://github.com/mockingbot/react-native-zip-archive/files/4117416/unzipModule.zip)

Extract the files from zip folder and put them in the following folder along with your MainActivity.java & MainApplication.java

`android/app/src/main/java/`

Open each RNUnzipModule.jav

[2020-01-27 16:23] anastely commented on #170
sadly i got this after calling unzip

Error: Couldn't unzip.
    at Object.fn [as unzip] (NativeModules.js:99)

[2020-01-27 17:54] ammarahm-ed commented on #170
Do you have read and write permissions? please recheck. Also the function is working but for some unknown reason it is unable to unzip the file you provided to it so it is rejecting the promise. what are you trying to unzip?

[2020-01-27 17:58] anastely commented on #170
Yes I Access to permissions , If i understand you well I want to unzip the file that contains pdf files

[2020-01-28 10:14] ammarahm-ed commented on #170
Firstly I forgot to tell you this, the function I wrote was only for android & not ios so it wont work on ios, you will have to do your own research to find one.

I used this function to unzip  zipped subtitle files on android. You are doing it right, i still dont understand why it is not working.  I will test it myself and see if it works for me. btw try to replace RNFS.ExternalStorageDirectoryPa

[2020-01-28 10:30] anastely commented on #170
Thank you, it's work after uninstalling the and re-build app again without replacing `RNFS.ExternalStorageDirectoryPath` I don't know why 😬, So maybe you should make it as a package for other users still having this issue, it will be helpful 🔥

[2020-01-28 11:26] ammarahm-ed commented on #170
Thats great. I hope your issue will be fixed on google play too once you upload the new version.

[2020-01-29 14:10] moweex-mobile commented on #170
@plrthink  same issue with latest version 5.0.0
Please can you solve this problem ASAP....

![Screen Shot 2020-01-29 at 4 06 15 PM](https://user-images.githubusercontent.com/56818655/73363547-9da98a80-42b1-11ea-83cd-4bb79d851732.png)

[2020-01-29 14:23] ammarahm-ed commented on #170
@moweex-mobile until the problem is fixed by the developer you can use my module i provided above for simple unzipping only on android.on which android version are you getting this error?? Check your Crashes on Google Play Console.

[2020-01-30 02:44] plrthink commented on #170
@moweex-mobile can you try the version 5.1.0-dev.0 to see whether this problem is getting fixed?

[2020-01-30 03:02] plrthink commented on #170
@ammarahm-ed I see you're saying you got some crashes due to ZipFile is not supported by the older version of Android. But the doc https://developer.android.com/reference/java/util/zip/ZipFile states it's introduced in the API Level 1 which means it should work on all Android dists. And I also checked on the Android 5 which works as expected.

So I think the ZipFile is irrelevant to this issue. Co

[2020-01-30 03:30] plrthink commented on #184
Oh, sorry for the late response. Actually we haven't implemented the real progress event for archiving on iOS yet. It's just the faked version.

But it seems to be easy to accomplish. I would like to introduce this in the next release.

[2020-01-30 03:33] #176 closed

[2020-01-30 03:44] ammarahm-ed commented on #170
@plrthink the problem is that nobody properly shared the stacktrace or a crash report from google play. This leads to alot of confusion for the developer. I hope the issue is fixed as you are saying. I will also test the dev version and see if i get the error or not.

[2020-01-30 03:59] plrthink commented on #170
@ammarahm-ed I guess this problem is a warning that emitted as soon as uploading the new version of the app to Google Play, which is part of the tests triggered by Google Play, rather than a runtime error on the user side. So others may not have the error stack.

[2020-01-30 08:09] pvroosendaal commented on #184
Ok, thanks for the info. Hope to see this enhancement soon!

[2020-01-30 09:29] moweex-mobile commented on #170
@ammarahm-ed Thnx, i will try
@plrthink Same security alert using "5.1.0-dev.0", any idea how to solve it ?

[2020-01-30 13:03] plrthink commented on #170
very sad to hear this...

almost tried the solutions out the internet but without a success. would still searching for.

[2020-01-30 13:51] plrthink commented on #170
already using the suggested code from https://snyk.io/research/zip-slip-vulnerability#java, see https://github.com/mockingbot/react-native-zip-archive/blob/d73ee7976535b72c7aaf73ec0eac9467455e8c8d/android/src/main/java/com/rnziparchive/RNZipArchiveModule.java#L475

[2020-02-03 12:38] moweex-mobile commented on #170
@plrthink ensureZipPathSafety doesn't throw any exception but playStore still show the warning.
Any updates ????

[2020-02-04 10:47] chfight opened #186 "How to zip mutilple files to one zip package?"

[2020-02-04 16:43] plrthink commented on #170
@moweex-mobile could you show the file you're trying to unzip? maybe I can find the issues from there. I have tested with the files from https://github.com/snyk/zip-slip-vulnerability/tree/master/archives with the exception thrown.

[2020-02-05 13:18] moweex-mobile commented on #170
@plrthink solved the problem by the following steps:

1. Delete "ensureZipPathSafety" method, Duplicate its logic inside each **RUN** thread where it was called
( methods =>  unzipWithPassword, unzip, unzipAssets ).
2. Use **SecurityException** instead of normal Exception.

It seems that Google Play Store tools validate on code within **RUN** thread ONLY ignoring any called method.

I made a pull

[2020-02-06 02:21] plrthink commented on #170
@moweex-mobile Cool!! But it's ridiculous for Google Play...

[2020-02-06 02:28] plrthink commented on #170
Hi folks here, can you try the version 5.1.0-beta.1? Which using @moweex-mobile's patch to fix this.

[2020-02-06 02:31] plrthink commented on #186
No, they're supposed to be wrapped by a folder.

[2020-02-06 02:35] plrthink commented on #182
Have you fixed this problem?

[2020-02-06 17:07] plrthink commented on #180
Sorry for the late response.

Have you solved the problem? I just tested the package of 4.1.5 on react-native@0.59.9 and it works as
. Can you try to run `react-native link` first?

[2020-02-10 08:14] bulby97 commented on #173
@plrthink Any news regarding this ? I'm getting the same issues.

[2020-02-11 06:54] plrthink commented on #173
@bulby97 sorry, no. But could you please try the tmp solution suggested by @xclidongbo ? And we would fix this maybe in the next release.

[2020-02-11 07:16] plrthink commented on #170
@anastely can you the version 5.1.0-beta.1 to verify the solution? Thank you in advance.

[2020-02-14 09:39] Hassaan68 opened #188 "Error: File or folder does not exist (Android)"
i have created target zip file and then i passed source folder path and target Path to zip method and found an error.

[2020-02-18 10:05] #186 closed

[2020-02-18 10:12] plrthink commented on #170
Ok, finally I just published version 5.0.1 to address this using @moweex-mobile's solution. Please let me know if the issue still exists.

[2020-02-18 14:03] plrthink commented on #188
Can you show the code you're using？Also you can navigate in the file system using `adb shell`(Android) or just the regular fs operations (iOS) to verify the missing file.

[2020-02-21 08:18] TikhomirovSergei opened #189 "Archiving function does not save the original file name in Russian encoding"
![clipboard-image](https://user-images.githubusercontent.com/32257840/75016364-e19c4380-549b-11ea-9ca9-e51707e5ee5a.png)

[2020-02-25 09:36] plrthink commented on #184
Hi, I just published version 5.0.2-beta.1 which includes this feature. Can you try it out? Please note that currently, I cannot emit the file being zipped out, so the `filePath` passed to the callback would always the empty string.

[2020-02-26 01:50] #182 closed

[2020-02-27 15:49] acostalima commented on #170
@plrthink I will give it a shot and get back to you soon!

[2020-03-03 10:40] eeee2222345 opened #191 "The module cannot pod install"
I refer the guide to operate, but I can not process command "pod install".
The terminal return "[!] No `Podfile' found in the project directory."
My react-native version is 0.57.8.

My project can build successful at Android and iOS if I ignore the error.
The unzip command can work at Android. If I run at iOS, the Xcode will log error "TypeError: undefined is not an object (evaluating 'RNZipArchiv

[2020-03-03 14:26] plrthink commented on #191
Sorry for miss leading in the doc, you should follow the guide of the version 4.x for linking  https://github.com/mockingbot/react-native-zip-archive/tree/4.1.5, the current README is for version above 4.x.

[2020-03-04 03:04] eeee2222345 commented on #191
Thank!

The link is effective for me.
Due to my react-native version is 0.57.8, the installation command follows:
`npm install --save react-native-zip-archive@3.0.1`
`react-native link react-native-zip-archive`
to install automatically.

But the Xcode will log error "TypeError: undefined is not an object (evaluating 'RNZipArchive.unzip')" too.
So I manually link ios again. Follows: step2
[https://

[2020-03-04 03:04] #191 closed

[2020-03-10 00:47] ethanyuwang commented on #175
is this supported now?

[2020-03-10 01:58] plrthink commented on #175
@ethanyuwang Sorry, no. But PRs are welcome.

[2020-03-10 23:38] tombombadilom commented on #180
no I haven't solved it
The react-native link is ok
[code]
But when I try to compile , I still get :+1:
`FAILURE: Build completed with 2 failures.

1: Task failed with an exception.
-----------
* Where:
Build file '../myproject/node_modules/react-native-zip-archive/android/build.gradle' line: 15

* What went wrong:
A problem occurred evaluating project ':react-native-zip-archive'.

`

[2020-03-11 00:53] tombombadilom commented on #180
Here is a git diff when i install and link react-native-zip-archive in my project , maybe something went wrong
[diff.log](https://github.com/mockingbot/react-native-zip-archive/files/4315472/diff.log)

[2020-03-13 01:55] plrthink commented on #180
After reviewing the info you provided above, I think the problem is you don't have the `ext` section in `android/build.gradle` like this https://github.com/mockingbot/react-native-zip-archive/blob/master/example/android/build.gradle#L4. You can follow the example app to fix this.

[2020-03-15 15:35] tombombadilom commented on #180
Thanx it's what i thought , and thanx for howTo fix it !

[2020-03-15 15:35] #180 closed

[2020-03-16 13:57] anastely commented on #170
@acostalima any updates?

[2020-03-16 15:20] plrthink commented on #170
@anastely does 5.0.1 solve you problem?

[2020-03-16 15:25] anastely commented on #170
@plrthink sadly not tested it yet, because I can't access to the client these times to get the google play account:(

[2020-03-18 01:51] #179 closed

[2020-03-18 02:14] plrthink commented on #184
closed via version 5.0.2

[2020-03-18 02:14] #184 closed

[2020-03-18 22:17] afonseca95 opened #195 "Invariant Violation: Native module cannot be null"
I follow all steps for use, but when I add:
import { zip, unzip, unzipAssets, subscribe } from 'react-native-zip-archive'
show this massage, why? Thanks!!
<img width="405" alt="Screen Shot 2020-03-19 at 6 43 20 AM" src="https://user-images.githubusercontent.com/61551871/77068983-2b018500-69ad-11ea-8f41-b8c0921a6ffa.png">

[2020-03-19 01:41] plrthink commented on #195
It seems like the problem is caused by the app code,  as you can see in the error - `state.global`. I think it means the `state` is `undefined` as the time of execution.

[2020-03-19 12:44] afonseca95 commented on #195
Sorry I add a wrong Image, this is the correct
<img width="405" alt="Screen Shot 2020-03-19 at 6 43 20 AM" src="https://user-images.githubusercontent.com/61551871/77068884-02798b00-69ad-11ea-8c2f-804f18d1021e.png">

[2020-03-19 12:48] afonseca95 commented on #195
Sorry was a wrong image, now is correct, maybe can you help me , thanks.

[2020-03-19 14:51] plrthink commented on #195
Ok, here we go. And this error is simply telling you haven't linked the module successfully. Depending on your react-native version and react-native-zip-archive version, the solutions vary.

So first please check the versions you're using, they should be matched each other as described in this table https://github.com/mockingbot/react-native-zip-archive#compatibility.

And for the react-native >=

[2020-03-19 21:36] afonseca95 commented on #195
I have downgradle the library version to 5.0.1 and it no longer shows the error when importing the library, but now it shows this message:
I am using :
    "react": "16.9.0",
    "react-native": "0.61.4",
    "react-native-zip-archive": "^5.0.1",
<img width="443" alt="Screen Shot 2020-03-19 at 3 34 47 PM" src="https://user-images.githubusercontent.com/61551871/77117242-3a0d2500-69f7-11ea-9c8a-e591

[2020-03-20 07:19] plrthink commented on #195
Could you provide a minimal repo to reproduce this error? That would be helpful.

[2020-03-24 13:55] anforu commented on #195
Morning @plrthink , Sorry for the late reply, I created the example repository, the example is extremely short, it only contains a "Hello world" and it has the library: "react-native-zip-archive": "^ 5.0.2", it has the version 5.0.1, since it does not show an error when importing the library as in 5.0.2.
I very much add the help in this problem that I am having, thank you very much.

Its the repos

[2020-03-26 09:19] plrthink commented on #195
@anforu I just opened a pull request to fix this, and you see the details over here.

[2020-03-26 15:51] acostalima commented on #170
@anastely @plrthink sorry for the delay! I've recently published the app with your changes and the security alert is gone now. Thanks! 💪

[2020-03-27 02:40] plrthink commented on #170
@acostalima Good to hear this, also I have published the regular version 5.1.0 which you could upgrade to.

[2020-03-27 02:40] #170 closed

[2020-03-29 12:03] tonycuadra opened #196 "Destructured parameter in subscribe callback uses incorrect TypeScript syntax"
**To Reproduce**
Steps to reproduce the behavior:
1. Run tsc on a project that uses react-native-zip-archive
2. See errors:

[code]

**Expected behavior**
No TypeScript errors

**Env (please complete the following information):**
Any

[2020-03-31 10:35] geldf opened #198 "Zip files Expand with Backslashes, no Subdirectories (Android)"
1. download a zip file with subfolders
2. unzip it
3. Instead of creating folders, it creates filenames with backslash

Expectation:
1780 > test.json

Result:
1780 \\235852.json

[2020-03-31 15:54] yosikal opened #199 "Unzip error: Couldn't open file"
Trying to unzip zip file on Android I encounter an error "Couldn't open file".  I verified the file exists in two ways:
1. Manually browsing by using adb shell

2. Using expo file system FileSystem.getInfoAsync right before calling unzip. As you can see in the following getInfoAsync returns info on the file and right afterwards unzip fails:

 LOG  {"exists": true, "isDirectory": false, "modificati

[2020-04-01 01:58] #196 closed

[2020-04-04 16:45] afonseca95 commented on #195
Hi @plrthink  , I have another problem, is when I used "unzip" show this message : Error to unzip file [Error: failed to open zip file], the method Zip is working but the unzip not.
What could it be? The example of methods are in my repository https://github.com/anforu/zipExample.git
also is the code :

/**
 * Sample React Native App
 * https://github.com/facebook/react-native
 *
 * @format
 * @fl

[2020-04-14 17:17] gigby opened #200 "Annoying notifications in dev settings (and in packager as well) via this library on RN 0.62"
**Describe the bug**
Annoying notifications in dev settings (and in packager as well) via this library on RN 0.62

**To Reproduce**
Steps to reproduce the behavior:
1. unzip any file with no listener
2. see packager console or thousands of yellow boxes in dev settings

**Expected behavior**
No messages should be sent (bcz the listener isn't required thing)

**Env (please complete the following inf

[2020-04-16 17:39] yosikal commented on #199
I'm not sure if that's a bug what once removed the "file://" prefix unzip works fine.

[2020-04-17 03:56] adamgins commented on #170
Hi, I still seem to be getting this issue with `"react-native-zip-archive": "5.0.2"` any ideas?

[2020-04-20 16:45] acostalima commented on #170
It takes sometime got Google Play Console to refresh apps' status. Is the security alert still in effect?

[2020-04-28 16:53] sayem314 commented on #177
Is this fixed?

[2020-05-05 12:43] plrthink commented on #177
@sayem314 Sorry, this hasn't been implemented yet. But I'm planning to solve this month.

[2020-05-06 05:12] plrthink commented on #195
Have inspected on your example and find that you should unzip the file to another new place, like the PR I opened 👉 https://github.com/anforu/zipExample/pull/2. And once you get this done, you could use the `adb shell` to navigate around the file system of your android emulator, here is the structure I have tested against. You can see the `new_files` folder is the exact same thing as the `files`,

[2020-05-06 09:44] kulikalov opened #201 "Unable to unzip"
I've tried creating archives with `zip`, `gzip` and mac's `compress` commands. With or without passwords. This library was unable to unzip any of them. Judging by a bunch of issues in this repo, I have to zip it differently. What app/script/cli should I use??

[2020-05-06 10:16] plrthink commented on #201
Which platform you are trying to unzip? Andriod or iOS? And can you provide a minimal repo to produce this?

[2020-05-06 10:39] kulikalov commented on #201
ios. Could you just give me a correctly zipped archive to test if my assumption is correct?

[2020-05-06 15:02] plrthink commented on #201
Sure, you can test with this https://rnza-test-app-assets.firebaseapp.com/static_password.zip file and its password is 'helloworld'. Also you can see the example app https://github.com/plrthink/RNZATestApp for prototyping.

[2020-05-13 09:22] sunlei4076 opened #202 "typescript check error"
**Describe the bug**
`
node_modules/react-native-zip-archive/index.d.ts:14:52 - error TS7031: Binding element 'number' implicitly has an 'any' type.

14   export function subscribe(callback: ({ progress: number, filePath: string }) => void): NativeEventSubscription;
[code]

[2020-05-21 11:24] srikanthsunkari opened #203 "[ERROR] Cannot use import statement outside module"
I am trying to execute the [sample](https://github.com/plrthink/RNZATestApp) application, While launching the application I am running into the below error.

**To Reproduce**
Steps to reproduce the behavior:
1. Running react-native run-ios will produce this. OR launching app will do it.

And Metro bundler builds 100% successfully.

**Expected behavior**
App should be launched successfully and test

[2020-05-28 15:56] acostalima opened #204 "Breaking change: v5.0.2 no longer supports zipping plain files"
In v5.0.2, on iOS, `zipWithPassword` no longer supports zipping plain files because the method from SSZipArchive which allows to do so is not being used anymore. Now, it is necessary to always create a directory even if you just want to zip a single file.

Can anyone else confirm this?

Diff: https://github.com/mockingbot/react-native-zip-archive/compare/v5.0.1...v5.0.2

[2020-05-31 14:43] plrthink commented on #204
@acostalima Can you point out which method in the SSZipArchive? I did make some changes in order to emit the progress of the zipping event, that maybe break the feature you mentioned.

[2020-05-31 15:07] plrthink commented on #203
You can use `yarn run haul` to start the app, and yes, the `start` command failed to compile the source.

[2020-05-31 15:19] plrthink commented on #200
I don't get the logs you mentioned, can you provide a screenshot to demo it?

[2020-06-01 07:17] sunnylqm commented on #200
![image](https://user-images.githubusercontent.com/615282/83385005-fbdea980-a41a-11ea-92f8-a4cdd63281bb.png)

[2020-06-01 10:28] acostalima commented on #204
@plrthink, this particular one: https://github.com/mockingbot/react-native-zip-archive/compare/mockingbot:74fc1bb...mockingbot:8490ea5#diff-ed95ad7cd314cb009e2e0cf3ae17b062L127

[2020-06-02 01:18] plrthink commented on #204
Yes, I can confirm it's a mistake here. Will fix it ASAP.

[2020-06-04 08:20] jersonpl opened #205 "Error: Failed to extract file Found Zip Path Transversal Vulnerability with /data/data/com.example.example/files/filesUnzip"
Error unzip

![Screenshot_1591258471](https://user-images.githubusercontent.com/39785621/83732901-5a21ad00-a612-11ea-9d10-bf38a62c450a.png)

 - Device: android emulator
 - OS: android
 - OS Version: all
 - Package Version: 5.0.2

[2020-06-05 06:25] #205 closed

[2020-06-16 10:03] MRDANX commented on #60
This problem happen again at exact version 5.0.2, when I fall back to version 5.0.1 solved it.
It just happens in iOS, Android works fine.

[2020-06-16 10:12] MRDANX commented on #204
It just happens in iOS, Android works fine.
This problem happen again at exact version 5.0.2, when I fall back to version 5.0.1 solved it.

[2020-06-16 10:16] acostalima commented on #204
Commented in the wrong issue? 😅
Where is your quote from?

[2020-06-16 10:32] MRDANX commented on #204
I think it's related to the version 5.0.2, so I commented here.😀

[2020-06-16 10:53] acostalima commented on #204
@MRDANX, it's up to @plrthink but if it's an issue in v5.0.2 maybe it's better to create a new one to address what you have reported. I've just changed the title of this issue to be more specific.

[2020-06-16 10:58] MRDANX commented on #204
@acostalima Since you have changed the title, now I understand what happen to me, thank you!

[2020-06-16 11:00] acostalima commented on #204
@MRDANX, the title was kind of bad anyway to be honest 😅

[2020-06-19 07:53] vishalneogit commented on #170
I am still getting the issue.
I tried installing following version of the module:
1. **5.1.0-dev.0**
2. **5.0.2**:
3. **5.0.0**

[2020-06-19 09:12] acostalima commented on #170
One more thing: as far as I remember, you have to release your app to production in order to refresh its status. It's not enough to release it to the Internal Test Track or a Closed Track.

[2020-06-19 12:25] vishalneogit commented on #170
Yes, This issue is generated only on production mode.
And It takes one day at least to update the status on play store

[2020-06-19 13:39] acostalima commented on #170
@vishalneogit the issue seems to be solved on my end, so I don't really know what's going on.

[2020-06-19 14:53] vishalneogit commented on #170
Oh okay.
@acostalima can you please tell which version of the library are you using?

[2020-06-19 15:14] acostalima commented on #170
I'm using a patched version because of a very specific business requirement. However, I did patch the affected Java code and the warning went away.

[2020-06-20 10:16] plrthink commented on #60
@MRDANX Can you show the code you're using? I can test it with the example and it works as expected.

[2020-06-20 13:51] MRDANX commented on #60
@plrthink It's because I was zipping the plain text file, but v5.0.2 no longer supports zipping plain files, so I finally got the answer.
the related issue here #204

[2020-06-21 13:07] plrthink commented on #60
@MRDANX Ok, that's indeed a problem which I would fix in the next release.

[2020-06-27 03:53] plrthink commented on #203
Just update the [readme](https://github.com/plrthink/RNZATestApp/blob/develop/package.json) to emphasize the process of the up and running. So I'm going to close this issue.

[2020-06-27 03:53] #203 closed

[2020-06-27 04:16] plrthink commented on #200
I find this thread https://github.com/transistorsoft/react-native-background-geolocation/issues/242#issuecomment-302110026 discusses this problem which says we can't turn that off from the library.

[2020-06-27 13:13] plrthink commented on #204
@acostalima @MRDANX Just published `5.0.3-beta.1`, can you try that?

[2020-07-02 05:38] vishalneogit commented on #170
@acostalima @plrthink warning is now gone.
Version I used is **^5.1.0-beta.1**.

[2020-07-04 15:11] plrthink commented on #204
Fixed in 5.0.3.

[2020-07-04 15:11] #204 closed

[2020-07-04 15:11] plrthink commented on #202
Fixed in 5.0.3.

[2020-07-04 15:11] plrthink commented on #199
Fixed in 5.0.3.

[2020-07-04 15:12] #202 closed

[2020-07-04 15:13] #199 closed

[2020-07-04 15:14] #195 closed

[2020-07-04 15:20] plrthink commented on #188
This may be the issue with https://github.com/mockingbot/react-native-zip-archive/issues/199 and should be fixed in 5.0.3, you can try that version. Feel free to reopen this if your problem still exists.

[2020-07-04 15:20] #188 closed

[2020-07-06 18:32] danilo900 commented on #158
Hello, 2020, Iam geting that error.
"react-native-zip-archive": "^5.0.3",

**crc check failed for file.**

First of all, I was almost like @ahmadqwer, doing a zip file in the backend.

So, to make a test, I did a zip file on mac (compress folder), and the error still persist on the clean zip file.

Iam testing on iOS Simulator, the path for the zip is
/Users/my_user/Library/Developer/CoreSimulator

[2020-07-07 13:45] danilo900 commented on #201
Hello Iam having trouble here either!
IAm getting always "crc check failed for file"

I just did a simple zip on my Mac and I haved tryed to unzip.

No success! :/

"react-native-zip-archive": "^5.0.3"

[2020-07-07 13:50] danilo900 commented on #201
Man, its so weird! hahahaah ....

I have tried with that static_password.

Well, its a little best, because it not give an error.
(log below from subscribe on unzip)
<img width="226" alt="Screen Shot 2020-07-07 at 10 49 01" src="https://user-images.githubusercontent.com/33874563/86791041-7cf31700-c03f-11ea-93bc-22ac1f113512.png">

BUT ....

NOTHING are unzipped on the destination folder....
![Scre

[2020-07-07 18:38] danilo900 commented on #201
Hello @plrthink I just did a PR solving it!

It really simple, just adding normalizeFilePath to the target!

Can you approve it? https://github.com/mockingbot/react-native-zip-archive/pull/208

Thanks!

[2020-07-08 14:22] #201 closed

[2020-07-16 01:56] sunnylqm commented on #200
@plrthink  https://reactnative.dev/docs/native-modules-ios#optimizing-for-zero-listeners

[2020-07-16 05:47] plrthink commented on #200
Cool, this is exactly what we need. Would fix this this week.

[2020-07-24 04:14] kimivn commented on #201
i have same issue , i zip my file to 4,3GB then module die

[2020-07-30 07:29] chiefchief commented on #205
@jersonpl have you find solution?

[2020-07-30 07:40] chiefchief opened #210 "can't unzip no one file"
first of all i tried download file via rn-fetch-blob, and unzip got path -  Couldn't open file
then i locally place file in correct directory and same issue - Couldn't open file
tried different zip files and every time same issue

via rn-fetch-blob
[code]

place file locally into directory and got - Failed to extract file error in opening zip file
[code]

[2020-08-07 15:00] n0umankhan commented on #210
+1

[2020-08-07 16:01] n0umankhan commented on #210
any update on this seems like package is broken ?

[2020-08-16 11:13] chiefchief opened #211 "OBB APK Expansion Files"
Could you add possibilities to extract obb files?

[2020-08-17 13:53] plrthink commented on #211
I don't know honestly, but you can give it a try, it seems like would be operated using zip tools.

[2020-08-17 13:56] plrthink commented on #210
@chiefchief Can you place the file you're working with? It's hard to tell what's wrong with your code since it's working on my side.

[2020-08-17 14:17] n0umankhan commented on #210
@chiefchief there could be few reasons i.e
1 - path is incorrect
2 - zip file is broken

in my case my path was wrong i created a utility for myself, see if you can use it:

[code]

slug in my case is the name of zip file and the folder name i want to create, just remember to add last "/" in target path it will make sure to unzip under the folder

[2020-08-17 14:36] plrthink commented on #200
solved in #212

[2020-08-17 14:36] #200 closed

[2020-08-22 02:37] hengkx opened #214 "zipWithPassword files no compression completed synchronous return"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Env (please complete the following information):**
 - Device: [e.g. iPhone6]
 - OS: [e.g. iOS8.1]
 - OS Version: [

[2020-08-23 13:37] #214 closed, assigned to nobody

[2020-09-01 13:08] elon-gs commented on #210
I'm not sure if this is the same problem, but I can't unzip anything either.  Autolinking isn't working — I get `TypeError: null is not an object (evaluating 'RNZipArchive.unzip')`.  Any ideas?  I'm using Expo but didn't have much luck with straight React Native either.

[2020-09-01 14:42] plrthink commented on #210
@elon-gs I'm happy to help you if you can provide a minimal reproducible repo.

[2020-09-11 20:01] hokaiyipFS commented on #180
I have to add the following line to my RN 0.59.9 project build.gradle then it works

ext {
...
    minSdkVersion = 26 <--- you may have a different midSdkVersion.
...
 }

[2020-09-14 20:57] namrog84 opened #217 "Add RNW (windows) support"
A variety of RN packages have started adding windows support via React-Native-Windows

https://github.com/microsoft/react-native-windows

e.g.
https://github.com/react-native-community/react-native-video/tree/master/windows

React-Native-Zip-Archive should too. :thumbsup:

[2020-10-01 21:23] AndrewE1234 opened #219 "Cannot build on iOS (SSZipArchive)"
**Describe the bug**
I added this package to my react-native init app and it was no longer able to build and run on the iOS simulator. When running `react-native run-ios` (after correctly linking the package with pod install), the build would fail just a few seconds in, exiting with`error code 65` and citing this as the issue:

[code]

I opened up the app's `.xcworkspace` and found 3 issues pertai

[2020-10-06 16:02] magrinj commented on #177
@plrthink Is it actually shipped ?

[2020-10-07 03:53] plrthink commented on #177
@magrinj No, I haven't find the time to implement this before, but maybe I can try to work on this. Hope I can fix this very soon.

[2020-10-09 16:08] afikmenashe21 opened #220 "Exception - Native module cannot be null"
Hi,
I'm following the instructions, downloaded the library but when I try to run the project with the import of 'react-native-zip-archive' I got the Exception: `Native module cannot be null `
Everything went well, installed Cocoapods for Windows, Linked the libraries by `cd ./ios && pod install`
Any idea to solve this issue, please?
(Already tried this solution: https://github.com/mockingbot/react

[2020-10-11 11:27] plrthink commented on #220
Can you provide a minimal re-producible repo?

[2020-10-11 11:32] afikmenashe21 commented on #220
I will upload the project to the git in a minute

[2020-10-11 11:39] afikmenashe21 commented on #220
Here: https://github.com/afikmenashe21/WhatshareTest

[2020-10-11 17:43] plrthink commented on #220
Did you eject from to bare workflow as described in the doc https://docs.expo.io/introduction/managed-vs-bare/#bare-workflow? It says if you want to use the native modules you need to do the ejection.

[2020-10-11 17:48] afikmenashe21 commented on #220
I think I tried to do so in the past, anyway, I try to run `expo eject` and this is the result:
![image](https://user-images.githubusercontent.com/57488204/95685845-1c0d4900-0c03-11eb-9486-ec247490bbc5.png)

[2020-10-11 18:15] plrthink commented on #220
ok, actually I'm not familiar with the expo, so it needs some time to dig into it.

[2020-10-12 06:31] plrthink commented on #220
<img width="584" alt="Screen Shot 2020-10-12 at 2 26 17 PM" src="https://user-images.githubusercontent.com/2429369/95712372-3c86e300-0c97-11eb-8301-ed1b623c87da.png">
@afikmenashe21 Well, I can get it running successfully, so maybe there's something wrong with your setup. Maybe you can try to start from scratch.

[2020-10-12 15:46] afikmenashe21 commented on #220
First of all, I appreciate that.
Second, I just created a new project by expo init zipTest, then npm install react-native-zip-archive --save , wrote import { zip, unzip, unzipAssets, subscribe } from 'react-native-zip-archive' and once again Native module cannot be null.
This time i didn't linked by cd ios && pod install because i didn't run the command which creates the ios and android folders.

[2020-10-12 17:02] plrthink commented on #220
As mentioned early, you should eject the expo project to let it play with the third party native modules.

[2020-10-12 17:29] afikmenashe21 commented on #220
I tried to run `expo eject` and then cd ios && pod install, but still it doesn't work.

[2020-10-12 17:35] plrthink commented on #220
I think it may be some issues with the Windows platform and personally, I'm working on the macOS. Can you try to install some other third party native libraries like react-native-fs?

[2020-10-12 17:41] plrthink commented on #177
Hi, folks, are you all facing this issue on the Android platform?

[2020-10-12 18:54] afikmenashe21 commented on #220
Same Exception, I have to mention that when I scan the QR code via android its all right, same result with `npm run web`.

[2020-10-13 11:18] plrthink commented on #220
Well, I think it's might related to the usage of the expo, since you said that it only works on android. So it would be better to ask in the expo community.

[2020-10-13 12:35] afikmenashe21 commented on #220
After a little digging, I figure out that with expo I can’t use packages with native languages that require linking and add native modules written in Objective-C, Swift, Java, Kotlin.
Which means I have to create a new project by vanilla react native.

[2020-10-13 16:47] plrthink commented on #220
@afikmenashe21 I think it might be incorrect because I indeed can successfully run your app on the iOS emulator.

[2020-10-13 17:22] plrthink commented on #219
I just tried that but can't get the issue popup, same setup but I'm using the XCode 12.0.1. Can you provide the app has the issue you described?

[2020-10-13 21:04] AndrewE1234 commented on #219
I updated to Xcode 12.0.1 which seemingly fixed the issue. I am also using iOS 14, but based on your previous comment, it seems like using Xcode 12 instead of 11 did the trick.

I was using a different and more "temperamental" machine when I raised the issue, so I unfortunately don't currently have access to the test program I created if you would still like to debug this issue.

Thank you!

[2020-10-14 01:35] plrthink commented on #219
Ok, I would tested with XCode 11 when possible, but I can't make a promise on this.

Thank you for your feedback. Stay safe.

[2020-10-14 01:35] #219 closed

[2020-10-14 04:23] Ashkan-Oliaie opened #221 "couldn't extract files under the Download directory on Android 10"
**Describe the bug**
I upgraded my react-native application from 0.62 to 0.63 and I get couldn't open the file while unzipping .

**Additional context**
the only way I could fix it was by downgrading to the version I was using , 0.62 . maybe some other changes are required in order to get this to work.

[2020-10-18 08:31] plrthink commented on #221
No, you don't need to apply any changes to upgrade rn from 62 to 63 on the module. And I just tested with the test apphttps://github.com/plrthink/RNZATestApp but can't get the error you're facing. Can you provide an app that can produce the error? That would be much helpful.

[2020-10-22 21:38] slothgeek commented on #45
3 years later i have the same issue with Expo and react-native-zip-archive. @j8seangel  can you explain your solution?

[2020-11-09 10:12] ChauVV opened #222 "Can not unzip file(file was ziped by macOS)"
-React-native 0.63.0
-react-native-zip-archive v.5.0.6

when i zip a file by (react-native-zip-archive) then i unzip, every thing is ok.

but when i zip a file by my macbook(MacOS) then i download to my app, then i unzip by (react-native-zip-archive), it show error:
`ExceptionsManager.js:179 Error: failed to open zip file`

any ideal, help please!

[2020-11-10 15:01] plrthink commented on #222
Can you provide the zipped file you're using? I just tested on my Mac and it works well.

[2020-11-11 07:49] vsalvans opened #223 "unzip file size recommendation"
I need to unzip big zip files that contain thousands of files.

In total I need to download 2GB, so I'm thinking to create chunks of files of 512MB,  download them and unzip them.

But I can choose any file size to suit the device resources.

In case of an iPad second generation with 4GB RAM, any recommendation what file size to choose?

I don't know how this package manages memory on big files. I

[2020-11-17 02:55] plrthink commented on #223
Yes, `react-native-zip-archive` is using the `ZipArchive` under the hood for iOS, and it uses the stream to unzipping, as you can see https://github.com/ZipArchive/ZipArchive/issues/267. But I don't test it with such a large file actually.

[2020-11-19 20:00] jstopchick commented on #221
I have this issue as well, I noted after adding a System output to the android code I got the following message:
System.out: java.io.FileNotFoundException: /storage/emulated/0/Download/projects/my-file-name.abc

The file is a zip file, with a non-standard extension.  Were restrictions added related to extension?  I am wondering if it's also possible it's related to this:
https://medium.com/@sriram

[2020-11-19 20:07] jstopchick commented on #221
It appears the link above was the issue for me, when using the "Downloads" directory on Android, there are restrictions related to the way zip files can be read.  The temporary fix for me was adding android:requestLegacyExternalStorage="true".

[2020-11-20 05:19] plrthink commented on #221
@jstopchick Ok, but still can you provide a reproducible app? So I can easily follow the way.

[2020-11-20 11:30] jstopchick commented on #221
@plrthink - Here are the steps to reproduce, I've confirmed this issue happens on my Android Pixel phone.

-On the phone, the default download folder should be called "Download".  Place a zip file in that folder.  In my case it had a non-standard extension: testZipFile.abc

-Also, create a folder called "unzipTest" within the download folder.  These will be the test files/folders.

-Create a new r

[2020-11-26 09:13] reylen opened #225 "react-native 0.63.2 cannot build with this lib"
**Describe the bug**
react-native 0.63.2  cannot build with this lib,
After change
`s.dependency="React"`
to
`s.dependency="React-Core"`,
it runs ok
may be an update of the file podspec need

[2020-11-26 09:40] plrthink commented on #225
Are you install the react-native from the cocoapod?

[2020-11-26 10:02] reylen commented on #225
I have run
`pod install`,
and then build my ios project, it failed with some errors,
while I add React.framework to this lib's 'Link Binary With Libraries'    , it works, no errors!

So I compare some other third's part library,   I found they have changed s.dependency to "React-Core".
I change this lib's s.dependency to React-Core, then pod install again,
rebuild
 it works too

this is my Podfile

[2020-11-26 10:06] plrthink commented on #225
That’s wired since I just used the demo to develop the module which is
powered by 0.63.3. I would test it with a new app.

reylen <notifications@github.com>于2020年11月26日 周四18:03写道：

--
Perry Poon

[2020-11-27 02:46] plrthink commented on #225
@reylen I just published the beta version which should fix this issue, can you try it with `yarn add react-native-zip-archive@beta`?

[2020-11-27 06:20] plrthink commented on #221
I can confirm this is an issue but honestly, I don't know how to solve this. Even more, I'm not sure this is a problem that we should fix since it seems like a reasonable restriction that would be followed.

So I need more time to dive into and hope the community can contribute their opinions.

[2020-11-27 06:21] #220 closed

[2020-11-27 06:24] plrthink commented on #220
I just closed the issue since it is not active for a time. But you can reopen it at any time if still suffer from this

And I think we should create an example to demonstrate how this module works with the expo. It would be great if someone wants to work on this.

[2020-11-27 06:31] plrthink commented on #49
Can you try the newest version of the module? Since it has been refactored and not operate the stream directly so I think this issue might not exist anymore.

[2020-11-27 08:38] plrthink commented on #221
For now, I just change the code to let the error be more clear about the file permission issue, you can try to install the current beta channel by `yarn add react-native-zip-archive@beta`.

[2020-11-27 09:32] plrthink commented on #221
After some searching, I found that even though we can use the `android:requestLegacyExternalStorage="true"` but after targeting the Android 11(API Level 30) we have no chance to access files directly in the `Download` folder according to this article:

So I think this can only be solved by altering the location where the app stores files. Therefore, we may only make the error message more clear an

[2020-11-30 01:47] reylen commented on #225
It's all right for me.
My project build success with the changed version.

[2020-12-02 00:22] Stafox opened #226 "Wrong Password ZipException when trying unzip archive with password created with PHP"
**Describe the bug**
Get exception `Wrong Password` in case when trying to extract archive with password.

[code]

Example of zip can be found [there](https://github.com/srikanth-lingala/zip4j/issues/265)

**To Reproduce**
Try to extract archive with password and method encryption 256 created in PHP on Android

**Expected behavior**
A clear and concise description of what you expected to happen.

[2020-12-24 03:05] jeffmon opened #228 "Unzipping progress on iOS is not working correctly"
When unzipping a file and subscribing to the progress, on iOS, it goes from `0` to `0.99997` almost instantly..then after 30 seconds later, it goes to `1`. On Android, it works beautifully, and as expected.

Here is my code:

[code]

Shouldn't the progress on iOS behave the same as on Android? Going from `0` to `1` gradually until completion?

This happens on an iOS simulator and a physical iPhone

[2020-12-30 05:41] Akash47 opened #229 "Header not found while unzipping the file with password."
When unzipping a file with password it throws an exception saying headers not found.

Here is the code:-
`const sourcePath = `${RNFS.ExternalStorageDirectoryPath }/download/offlineaadhaar20201222055348270.zip`
const targetPath = RNFS.ExternalStorageDirectoryPath
const password = '4444'
 console.log(sourcePath)
unzipWithPassword(sourcePath, targetPath, password)
.then((path) => {
  console.log(`zip

[2021-01-02 03:06] sentry0 opened #230 "iOS not zipping"
Not able to zip on iOS in simuation (xcode 12.3, iOS 14.3)

The file gets created but it looks like it's just a regular file with the characters "PK" in it.

`await zip(filePath, zipPath);`

I just caught the error `[Error: unable to zip]`... not much there to work with.

[2021-01-02 03:28] sentry0 commented on #230
Upgrading to 5.0.7-beta.3 had no effect

[2021-01-02 11:45] plrthink commented on #229
Can you provide the file that can reproduce the problem? That would be much helpful.

[2021-01-04 05:53] Akash47 commented on #229
I have send you that file via mail please check it once.

[2021-01-06 04:46] plrthink commented on #229
@Akash47 Hi, I just tried the file you sent to me directly, and everything works as expected. I am using the emulator with Pixel 3a and Android 11 as you described.

What's the version of the package you're using?

[code]

[2021-01-06 04:50] plrthink commented on #230
Can you provide the whole error message? Also, it would be helpful if you can upload the zip file you're trying to zip.

[2021-01-06 04:57] plrthink commented on #226
I just read the discussions on the thread https://github.com/srikanth-lingala/zip4j/issues/265, and it seems like it won't be supported by zip4j. So there is nothing we can do about it, but I would subscribe to the news on this topic.

[2021-01-06 04:57] #226 closed

[2021-01-06 10:44] Akash47 commented on #229
Hi , I am using "5.0.6" version , can you share me the code so I will try
it once.

On Wed, 6 Jan 2021 at 10:17, Perry Poon <notifications@github.com> wrote:

[2021-01-08 01:34] plrthink commented on #229
Sorry for the late response, and you can check this branch https://github.com/plrthink/RNZATestApp/tree/rnza_issue_229.

[2021-01-08 02:03] lh9403 commented on #230
The same problem, and no error callbacks

[2021-01-23 21:00] DavidGonzalezGutierrez commented on #228
In my case, with react-native: 0.63.4 and react-native-zip-archive: 5.0.6 on IOS in iphone 8 with ios 14, progress starts from 0.00010000 and decompress never ends.

With a very small zip of 10kb.

[2021-01-25 07:43] Ahajuu opened #231 "How to zip files which are in an object ?"
![log](https://user-images.githubusercontent.com/56596060/105675324-f7698280-5f0e-11eb-9ca8-25d73dca118e.png)

[2021-01-28 02:44] CDBridger commented on #158
I'm getting this error too

[2021-01-28 03:45] CDBridger opened #232 "Unzipping causes 'crc check failed for file'"
**Describe the bug**
Attempting to unzip a file causes 'crc check failed for file'

**To Reproduce**
Steps to reproduce the behavior:
1.Download .zip file
2.Attempt to unzip

**Expected behavior**
File unzips succesfully

**Env (please complete the following information):**
 - Device: iPad Air
 - OS: iOS 12.5.1
 - Package Version: 5.0.6

**Additional context**
Unzipping the file works on simulator

[2021-01-29 16:02] ramos-lucas commented on #230
The same problem and no error message.
My file is a simple .txt with content 10 20 30

[2021-02-01 13:26] ramos-lucas commented on #230
I managed to solve using `await zip([filePath], zipPath)`

[2021-02-02 04:50] plrthink commented on #231
Well, you can map the object to a list of string which contains file paths, and then feed that to the `zip` api https://github.com/mockingbot/react-native-zip-archive#api.

[2021-02-02 04:50] #231 closed

[2021-02-02 04:51] plrthink commented on #230
I would take a look at the interface `zip(source: string, target: string): Promise<string>`

[2021-02-03 10:47] Finneah opened #234 "Cant upgrade to 6.0.0 because of missing dependency RN 0.60.0. I´m using RN 0.63.4"
**Describe the bug**
A clear and concise description of what the bug is.
[code]
**To Reproduce**
Steps to reproduce the behavior:
my version of  react-native-zip-archive: `^5.0.2`
1. Cmd`npm i react-native-zip-archive@6.0.0`

**Expected behavior**
A clear and concise description of what you expected to happen.

**Env (please complete the following information):**
- Npm 7.5.2
- RN 0.63.4
- Package

[2021-02-09 14:55] yfunk commented on #234
If you run `npm i react-native-zip-archive@6.0.0 --legacy-peer-deps` like the error suggest it will work.

The reason for this error is, that `react-native-zip-archive` currently specifies `"react-native": "^0.60.0"` in its `peerDependencies`. You would think this means version 0.60.0 or newer needs to be installed, but because the major version of `react-native` is still at `0` only patch updates

[2021-02-10 02:24] plrthink commented on #234
@plrthink @Finneah just published 6.0.1 which should fix this issue for npm@7

[2021-02-10 02:24] #234 closed

[2021-03-10 23:04] nghsonnnn opened #237 "SECURITY.md"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Env (please complete the following information):**
 - Device: [e.g. iPhone6]
 - OS: [e.g. iOS8.1]
 - OS Version: [

[2021-03-11 01:27] #237 closed

[2021-03-17 00:08] nicdex opened #238 "File header and local file header mismatch with unzipWithPassword"
**Describe the bug**
I get this call stack when trying to unzip a file with password. I am certain my password is correct. Also the same process works (backup, then restore) if I use zip/unzip (no password).

03-16 16:59:49.238 12922 12957 E ReactNativeJS: RestoreScreen._restoreFromBackup reading file failed: Error: Failed to unzip file, due to: net.lingala.zip4j.exception.ZipException: File heade

[2021-03-20 17:31] Eliajn commented on #238
I am having the same issue, any fix ?

[2021-03-23 16:02] nicdex commented on #238
I would have git it a try myself but I don't know Java / Android enough.
I ended up encrypting the zip myself by, anyhow it fits better my requirements as a protected zip still shows filename, which can be a security leak in my case.

[2021-03-23 20:29] blakdragon39 commented on #230
I'm also having running into this issue, but can't replicate it consistently. Been able to see it on iOS 14.3 and 14.4, simulators and real devices. No error gets thrown, it just fails silently. I was able to follow it as far as this line:

```RNZipArchive.zipFolder(normalizeFilePath(source), normalizeFilePath(target))```

[2021-03-23 21:13] blakdragon39 commented on #230
Further discovery, by accident, it is actually coming back with the error. But there was a 23-minute difference between when I started zip, and when the log came back.

[code]

[2021-03-23 21:32] blakdragon39 commented on #230
I was able to replicate the 23 minute wait! And it came back with a new error message
```{"error": {"code": "ENSCOCOAERRORDOMAIN0", "domain": "NSCocoaErrorDomain", "message": "Extension was interrupted", "nativeStackIOS": ["0   Hunchly                             0x000000010fed8757 RCTJSErrorFromCodeMessageAndNSError + 135", "1   Hunchly                             0x000000010fed8683 RCTJSErrorFro

[2021-03-23 22:50] blakdragon39 commented on #230
It seems to have something to do with the name of the file being zipped too. However, this might also be device dependent. Zipping to a file named J.zip would cause my app to start erroring consistently. Whereas another person with a different phone could use J.zip, but couldn't use something called case.zip.

[2021-03-24 05:06] plrthink commented on #230
@blakdragon39 It seems like a different problem with @ramos-lucas faced, but still has no idea about what happened, could you share the folder you want to zip?

[2021-03-24 05:08] plrthink commented on #238
I found that the error said ‘Error: Failed to unzip file, due to: net.lingala.zip4j.exception.ZipException: File header and local file header mismatch’，this may be related to the file you are unzipping. Could you share a reproducible file to let me dig into?

[2021-03-24 14:43] blakdragon39 commented on #230
[J_original.zip](https://github.com/mockingbot/react-native-zip-archive/files/6198065/J_original.zip)
[J_2021-03-24T14_36_16.266Z.zip](https://github.com/mockingbot/react-native-zip-archive/files/6198066/J_2021-03-24T14_36_16.266Z.zip)

I've attached 2 files:
J_original is the original contents that I wanted to zip. (They've been zipped on my laptop.)

J_2021-03-24T14_36_16.266Z.zip was zipped by

[2021-03-24 15:14] blakdragon39 commented on #230
One other note, it doesn't seem to matter what the contents I'm trying to zip are. Changing the file name is what makes or breaks this. However the filename that breaks it seems to differ on devices.

[2021-03-25 17:21] blakdragon39 commented on #230
I've figured out what the problem is. I was putting the zip folder in the same folder that was being zipped. So the zip was being included in itself. I got around it by making a new path for the zip to go into. This doesn't seem to be an issue on android.

[2021-03-26 05:23] #229 closed

[2021-03-26 05:23] #225 closed

[2021-03-29 11:05] tempius commented on #232
I have this same error, but on iOS simulator.

[2021-04-09 09:53] xclidongbo commented on #115
same error.

[2021-04-19 06:19] qiyanlong commented on #238
in RNZipArchiveModule.java line 98

[2021-04-19 06:19] qiyanlong commented on #238
zipFile.extractFile(fileHeader, destDirectory);
            if (!fileHeader.isDirectory()) {
              extractedFileNames.add(fileHeader.getFileName());
            }

[2021-04-19 06:20] qiyanlong commented on #238
change to                            if (!fileHeader.isDirectory()) {
                          zipFile.extractFile(fileHeader, destDirectory);
              extractedFileNames.add(fileHeader.getFileName());
            }

[2021-04-19 07:29] plrthink commented on #238
Good job @qiyanlong, just released the 6.0.3 which include this fix

[2021-04-19 07:29] plrthink commented on #238
https://github.com/mockingbot/react-native-zip-archive/pull/239

[2021-05-20 06:49] arpitgarg23 opened #240 "Zip in iOS is now supported for folder not with files with react-native-zip-archive [6.0.3 & 6.0.2] while same working fine in android."
**Zip file is empty is iOS with react-native-zip-archive [6.0.3 & 6.0.2] same working fine in android.**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Try to zip a file without password using below code
 const targetPath = `${dirs.DocumentDir}/logs/${fileName}.zip`;
        Log.d(TAG_UTILITY, "ABC file path : " + filePath)
        Log.d(TAG_

[2021-05-23 15:51] plrthink commented on #240
There is a known issue which prevents user zipping the single file on iOS with `zip` method, as you can see here https://github.com/mockingbot/react-native-zip-archive/issues/230#issuecomment-770855411.

The current workaround is wrapping your file path with `[]` like `[filePath]`, which would also is guaranteed to be working after fixing the original bug.

[2021-06-26 11:31] tnghia944 opened #241 "On android UnZip or UnZipWithPassword can't get the file name and ext"
On android UnZip or UnZipWithPassword can't get the file's ext
here is the example:
i need unzip link: https://www.learningcontainer.com/wp-content/uploads/2020/05/sample-zip-file.zip
On ios everything is ok
but on android after i download the file is in the path
"/data/user/0/com.test.development/files/sample-zip-file.zip"
after that i successfully unzip but the displayed link is
Unzipping succes

[2021-06-26 16:04] tnghia944 commented on #241
this is how i solved it temporarily, i don't know if its right or wrong but solved my problem
   String fileName = "";

  if(zipFile.size() == 1) {
               fileName = entry.getName();
             }
  if(zipFile.size() == 1) {
             zipFile.close();
             updateProgress(1, 1, zipFilePath + "/" + fileName); // force 100%
           }else{
             zipFile.close();

[2021-07-09 18:37] olosegres opened #242 "What encryptionType used on iOS?"
Hi, encryptionType for iOS marked as not supported, but what type actually used? (If used default, so what does it mean STANDARD?)

[2021-07-28 02:24] 322ne opened #244 "When I decompress a zip file of more than 1GB (the specific value is not tested), I always throw an error"
When I decompress a zip file of more than 1GB (the specific value is not tested), it always throw an error:

"Failed to extract file error in opening zip file"

[2021-08-13 19:12] dieseldjango opened #245 "duplicate symbol __zipOpenEntry"
In https://github.com/mockingbot/react-native-zip-archive/pull/47 a change was made to the SSZipArchive pod subspec to avoid a duplicate symbol conflict with CodePush. For some reason this was removed in a later version. I have a different framework I'm working with that also uses SSZipArchive and with the current react-native-zip-archive I get that same conflict.

Is there a reason that subspec w

[2021-08-14 15:46] plrthink commented on #245
It now uses cocoapod to manage the SSZipArchive, so it would work out of the box if the library you mention is also doing it in this way.

Before RN embraces the cocoapod to manage native deps on iOS, we need to include the SSZipArchive's source code. That is also the reason why we get into conflict.

[2021-08-16 14:56] dieseldjango commented on #245
Got it. Thanks for the information. Looks like the other framework I'm linking embeds the source code, causing the conflict.

[2021-08-16 18:36] #245 closed

[2021-08-20 16:11] KhoaN56 commented on #232
Has anyone have any idea to fix this error? I also have this issue on iOS simulator.

[2021-10-01 14:53] AlenToma opened #246 "An improvement - create or read a zip file on fly"
This is really not an issue is just a request if is possible, Or it may already contained it and I do not know.

What I really would like this library to be able to do is to read/create zip file as an object.

say that I have a zip file at `x` location and I choose to unzip it.

I would like to get an array with the actual content.

Something like the array below.
[code]
the idea is that the unzip

[2021-10-26 20:15] SpiriaJWF opened #247 "Timezone problem on iOS during unzip"
**Describe the bug**
On iOS, it seems that the modification time of the unzip files are set based on GMT and not the local timezone.

**To Reproduce**
Steps to reproduce the behavior:
1. Set your timezone to a negative or positive one on your phone
2. Unzip a file on your phone
3. Read the modification time of these unzip files
4. See error

**Expected behavior**
The modification time of the unzip

[2021-10-31 07:12] #247 closed

[2021-10-31 15:08] plrthink commented on #244
Can you share the file you're trying to decompress?

[2021-10-31 15:56] plrthink commented on #242
On iOS, the package is using SSZipArchive https://github.com/ZipArchive/ZipArchive under the hood, so I think we're using the zlib algorithm.

[2021-10-31 15:59] #230 closed

[2021-10-31 16:00] #232 closed

[2021-10-31 16:01] #238 closed

[2021-11-16 09:13] denis-hrebeniuk opened #251 "Unzip doesn't work"
**Describe the bug**
When i change targetSdkVersion from 29 to 30, unzip doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Change targetSdkVersion to 30

**Expected behavior**
Unzip works correctly.

**Env (please complete the following information):**
 - Device: Xiaomi Note 10
 - OS: Android 11
 - Package Version: 6.0.5

[2021-11-19 14:25] #251 closed

[2021-12-21 06:47] Madhu02 commented on #222
I'm trying to unzip a file which was created on windows machine and uploaded to server, when i dowloaded the same file in iOS and try to unzip with library it is throwing an error.
[Error: failed to open zip file]
But when i opened the file from mac os folder path, it worked fine.

[2021-12-25 19:33] olosegres commented on #242
Thanks!

[2021-12-25 19:33] #242 closed

[2021-12-26 11:58] plrthink commented on #222
Cloud you please share the file you're trying to unzip?

[2021-12-30 08:40] valery-lavrik opened #254 "Error: Failed to extract file error in opening zip file"
"react-native": "0.66.4",
"react-native-zip-archive": "^6.0.6",
"rn-fetch-blob": "^0.12.0"

`
let UNZIP_RES = false;
try {
	UNZIP_RES = await unzip(CBR.fileCopyUri, CBR_DIR);
} catch (error) {
	console.log(error);
}
`

Error:   **LOG [Error: Failed to extract file error in opening zip file]**

ZIP File:    https://disk.yandex.ru/d/6GSwFkS1Hr2s4g

I can't understand why the archive is not unpacked.

[2021-12-30 11:11] valery-lavrik commented on #222
I have a similar problem. Described it in
https://github.com/mockingbot/react-native-zip-archive/issues/254

ZIP File: https://disk.yandex.ru/d/6GSwFkS1Hr2s4g

[2021-12-30 15:54] Madhu02 commented on #222
I have found out the root cause of the issue, when i called this unzip method inside resolve of promise, it din't work, i have to put this unzipping inside a function and called that function in resolve of promise then it worked.

[2022-01-10 08:48] valery-lavrik commented on #21
Good afternoon! how are things with this issue today?

Can you recommend an analogue to solve this problem? Everything I don't try doesn't work (((

[2022-01-20 05:38] plrthink commented on #21
Sorry for the late response, we're still not planning on this feature, and also haven't investigated how to implement this.

But open for OSS contribution.

[2022-01-20 05:41] plrthink commented on #222
This doesn't make sense. Can you show the code you have trouble with? Maybe we can find the right solution.

[2022-01-20 05:43] plrthink commented on #254
I don't think we can deal with cbr archive, it's not the same as zip.

[2022-01-20 05:54] #254 closed

[2022-02-12 17:53] jlpg81 opened #257 "Does this work with expo?"
Hey guys, Im a junior when working with React Native. I was wondering if react-native-zip-archive could work with expo, or if I would have to find something else for expo?
I get the error when using this on expo, and this incompatility seems to be the only reason why I cannot make it work:
error:  [TypeError: null is not an object (evaluating 'RNZipArchive.unzip')]
Thanks!

[2022-02-13 03:32] plrthink commented on #257
You should eject the expo app to make it work with this package.

[2022-02-15 16:34] anutting opened #258 "Error install SSZipArchive"
[!] Error installing SSZipArchive
[!] /usr/local/bin/git clone https://github.com/ZipArchive/ZipArchive.git /var/folders/nb/wn3tl6997cq579h_sk371jc0ngkmg_/T/d20220215-40987-14340az --template= --single-branch --depth 1 --branch v2.2.3

Cloning into '/var/folders/nb/wn3tl6997cq579h_sk371jc0ngkmg_/T/d20220215-40987-14340az'...
warning: Could not find remote branch v2.2.3 to clone.
fatal: Remote bran

[2022-02-15 17:21] grant-mccarriagher commented on #258
This should be resolved, the dependency restored the older branches.

[2022-03-29 10:20] gilshaan commented on #182
Yes, it is possible to unzip a folder.

[2022-04-07 23:45] TheAlmightyBob opened #260 "Android warning: "new NativeEventEmitter() was called with a non-null argument without the required addListener method""
**Describe the bug**
Using `react-native-zip-archive` on Android with React Native 0.65+ shows the warning in the title.

Other React Native libraries have also had to deal with this, e.g.:
https://github.com/facebook/react-native/issues/32051
https://github.com/react-native-netinfo/react-native-netinfo/pull/487
https://github.com/zoontek/react-native-localize/commit/168dd8af48eeb7a8351398437be7eb

[2022-04-10 22:47] #260 closed

[2022-04-10 22:47] #257 closed

[2022-04-10 22:48] #258 closed

[2022-05-17 17:29] jardeson777 commented on #43
I tryed it in my project with expo and not resolve :(

[2022-05-31 02:10] irfana1716 commented on #173
@bimbox-open Can you please confirm the androidAssetsUri in copyassetsfile. I am still getting a same error

[2022-07-22 16:56] esutton commented on #230
@ramos-lucas solution to wrap **filePath** in brackets fixed iOS problem where zip files were always empty ( 22 bytes long ).
[code]

Hopefully adding brackets does NOT break Android.  I had been using this library for years.  Both Android and IOS were zipping single files fine.  Not sure why iOS started breaking?

[2022-07-22 16:56] esutton commented on #240
@ramos-lucas solution to wrap **filePath** in brackets fixed iOS problem where zip files were always empty ( 22 bytes long ).
[code]

Hopefully adding brackets does NOT break Android.  I had been using this library for years.  Both Android and IOS were zipping single files fine.  Not sure why iOS started breaking?

[2022-09-03 11:21] ramirobg94 commented on #240
I am having a similar issue, The thing is like this

tmp/A
--x.bin
--y.bin
--a.json
tmp/B
--x.bin
--y.bin
--a.json

Then I zip:
zip([tmp], 'tmp/out.zip']

the out.zip only contains a file called tmp with nothing

Do you have any idea about what is happening?

[2022-09-04 02:49] plrthink commented on #240
I think it does not support zipping into the same folder as being zipped one.

[2022-09-04 10:00] ramirobg94 commented on #240
so the example should be updated:

const targetPath = `${DocumentDirectoryPath}/myFile.zip`
const sourcePath = DocumentDirectoryPath

zip(sourcePath, targetPath)
.then((path) => {
  console.log(`zip completed at ${path}`)
})
.catch((error) => {
  console.error(error)
})

[2022-09-06 05:23] vish2595 opened #266 "ld: library not found for -lRNZipArchive - iOS"
When i am building app in my iPhone then it is showing lRNZipArchive not found.

Xcode Version : 13.4.1
Iphone Version: 15
React Native Version: 0.64.0
Zip-Archive Version: 6.0.8

[2022-09-06 05:44] plrthink commented on #240
OK, that seems an issue, could you share the folder you're trying to zip? So I can debug on it.

[2022-09-06 05:47] plrthink commented on #266
It's hard to tell what's going wrong. Does it successfully run on your simulator? Please give the more info.

[2022-09-06 05:51] vish2595 commented on #266
No, I am running in physical device. When i building the error shown below:

<img width="828" alt="Screenshot 2022-09-06 at 11 21 38 AM" src="https://user-images.githubusercontent.com/21971126/188556899-7d419fc1-e53d-4b3c-9aa0-77cde85d2005.png">

[2022-09-06 05:52] vish2595 commented on #266
@plrthink Please have a look.

[2022-09-06 06:04] plrthink commented on #266
Ok, I would try that on my side at the night(Shanghai timezone).

[2022-09-19 14:50] plrthink commented on #266
@vish2595 Sorry for the late response, but I can't reproduce this on my device. Maybe you should double check your installation process?

[2022-10-26 19:42] Slyther commented on #217
is there any interest in having this merged/worked on? A few things have changed but there is still a solid need for official support @plrthink
I'm working on making the windows version that @namrog84 has worked on (later improved upon by @nejcet here https://github.com/nejcet/react-native-zip-archive) compatible with RN 0.70.3 & RNW 0.70.3 (recently updated the repository to be up to date with mo

[2022-10-26 23:45] namrog84 commented on #217
For more context of what we ended up doing for our project.
We ended up managing to fully encapsulate all our particular and simple use cases using a RN file manager(modded RNFS) and using [jszip](https://www.npmjs.com/package/jszip).  So our need of react-native-zip-archive ended and thus we removed our usage of miniz and other libs.   We typically were just zipping a small txt file which a pure

[2022-10-27 03:38] plrthink commented on #217
Yes, I'm very excited to make this happen.

But I'm not familiar with the things on the Windows, so it would be great if @namrog84 could help review the PR once @Slyther opened.

[2022-11-01 10:11] Udbhav12 opened #270 "Uncaught Exception in zip4j"
**Describe the bug**
As per  https://github.com/mockingbot/react-native-zip-archive/blob/v6.0.8/android/build.gradle#L40 
`react-native-zip-archive` is currently using 2.6.4 version of `zip4j`. There is a security issue which has been patched in 2.10.0 version of zip4j
Refer to below link for more details
https://github.com/advisories/GHSA-q62h-jw38-24vh

**To Reproduce**
NA

**Expected behavior**

[2022-11-08 12:30] mgroeneweg opened #271 "Old SSZipArchive dependency in iOS podspec"
Hi,

The podspec fixes the version for SSZipArchive to 2.2.3. Can this restriction be removed or more lenient to newer releases? It prevents using the most recent version of the library. It is used by multiple modules in our app and now I need to stick to an older version.

Thanks in advance.

With regards,

Marcel

[2022-11-15 09:01] benedictpmateo opened #272 "Invariant Violation: `new NativeEventEmitter()` requires a non-null argument. | Expo"
**Describe the bug**
When I try to use the zip function it shows this error in expo v45
[code]

**To Reproduce**
Here's my dependencies in `package.json`
[code]

**Expected behavior**
I'm currently trying to zip the files I downloaded using expo-filesystem then move the zip file to ios Sharing folder

**Env (please complete the following information):**
 - Device: iPhone 11
 - OS: iOS
 - OS Versio

[2022-11-19 06:20] donghuiqiu opened #273 "charset GBK or UTF-8 is no work in ios"
**Describe the bug**
charset GBK or UTF-8 is no work on ios,and the zip files are from windows mechine use GBK to zip

**To Reproduce**
charset GBK or UTF-8 or US-ASCII , I try all and none of them working, android works fine with GBk

<img width="990" alt="图片" src="https://user-images.githubusercontent.com/73329146/202837144-da2ab90c-fbc9-4c9b-8c12-8a730add8aa7.png">

<img width="1569" alt="图片" s

[2022-11-25 08:33] donghuiqiu commented on #273
I solved

[2022-11-26 10:17] plrthink commented on #273
Could you share how you solve the problem?

[2022-11-26 10:20] plrthink commented on #273
Actually, we don't use the charset you provided on the iOS platform since it's supposed to be working automatically by the ZipArchvice library, which is used under the hood.

[2022-11-26 10:28] plrthink commented on #271
Yes, it should be compatible with the SSZipArchive under the semver.

PR are welcome.